
			<div class="innerLR">
				<table class="table table-bordered table-condensed table-vertical-center">
					<thead>
						<tr>
							<th width="10%" class="center">ID</th>
							<th width="10%" class="center">回复邮件</th>
							<th width="20%" class="center">发件人</th>
							<th width="20%" class="center">收件人</th>
							<th width="20%" class="center">邮件标题</th>
							<th width="10%" class="center">发送日期</th>
							<th width="10%" class="center">操作</th>
						</tr>
					</thead>
					<tbody>
					<notempty name="mails">
						<volist name="mails" id="vo">
						<tr class="selectable <if condition='$vo[is_replyed] eq 1'>info</if>">
							<td class="center"><a href="javascript:;" class="view_mail_detail" data-mail-id="<!--{$vo.id}-->"><!--{$vo.id}--></a></td>
							<td class="center">
								<empty name="vo.reply_mail">
									无
								<else/>
								<a href="javascript:;" data-email="<!--{$vo.reply_mail.email}-->" class="view_reply_mail_detail"><!--{$vo.reply_mail.id}--></a>
								</empty>
							</td>
							<td class="center"><!--{$vo.fromer|htmlspecialchars}--></td>
							<td class="center"><!--{$vo.toer|htmlspecialchars}--></td>
							<td class="center">
								<a href="javascript:;" class="view_mail_detail" data-mail-id="<!--{$vo.id}-->"><!--{$vo.subject}--></a>
							</td>
							<td class="center"><!--{$vo.pubdate}--></td>
							<td class="center">
								<a href="javascript:;" class="mark_reply" data-mail-id="<!--{$vo.id}-->">已回复</a>&nbsp;
								<a href="javascript:;" class="del_mail" data-mail-id="<!--{$vo.id}-->">删除</a>
							</td>
						</tr>
						</volist>
					<else/>
					<td class="center" colspan="8">当前没有任何邮件记录！</td>
					</notempty>
					</tbody>
				</table>
				<div class="separator top form-inline small">
					<div class="pagination pull-right" style="margin: 0;">
						<!--{$page}-->
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div id="view_mail_detail_modal" data-width="80" class="auto-height modal hide fade">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 class="heading">邮件内容</h3>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
			<script>
				$(function(){
					$("a.view_mail_detail").click(function(event){
						var mail_id = $(this).attr("data-mail-id");
						var view_mail_detail_modal = $("div#view_mail_detail_modal");
						view_mail_detail_modal.find(".modal-body").html('<p>正在载入邮件...</p>');
						view_mail_detail_modal.modal();
						$.ajax({
							url: '/ajax/get_inbox_mail_detail', type: 'GET', dataType: 'json',
							data: {mail_id: mail_id},
							success:function(result){
								view_mail_detail_modal.find(".modal-body").html(result.data);
							}
						});
					});

					$("a.mark_reply").click(function(event){
						if (confirm("是否被标记为已回复？")) {
							var mail_id = $(this).attr("data-mail-id");
							window.location.href="/mail/mark_reply?mail_id=" + mail_id;
						};
					});

					$("a.del_mail").click(function(event){
						if (confirm("是否删除？")) {
							var mail_id = $(this).attr("data-mail-id");
							window.location.href="/mail/del_reply_mail?mail_id=" + mail_id;
						};
					});

					$("a.view_reply_mail_detail").click(function(event){
						var mail_id = $(this).html();
						var email = $(this).attr("data-email");
						var view_mail_detail_modal = $("div#view_mail_detail_modal");
						view_mail_detail_modal.find(".modal-body").html('<p>正在载入邮件...</p>');
						view_mail_detail_modal.modal();
						$.ajax({
							url: '/ajax/get_mail_detail', type: 'GET', dataType: 'json',
							data: {mail_id: mail_id, 'email':email},
							success:function(result){
								view_mail_detail_modal.find(".modal-body").html(result.data);
							}
						});
					});
				});
			</script>