			<div class="innerLR">
				<div class="filter">
					<select class="filter_mail">
						<option value="" <empty name="status">selected="selected"</empty>>全部状态</option>
						<option value="failure" <if condition="$status eq 'failure'">selected="selected"</if>>发送失败</option>
						<option value="submit" <if condition="$status eq 'submit'">selected="selected"</if>>等待发送</option>
						<option value="success" <if condition="$status eq 'success'">selected="selected"</if>>发送成功</option>
						<option value="resolved" <if condition="$status eq 'resolved'">selected="selected"</if>>二次解决</option>
					</select>
					<strong>邮件打开率：<!--{$open_percent}-->%（<!--{$opened_count}--> / <!--{$all_count}-->）（仅针对直接投递成功的邮件，并且可能会有误差，仅供参考）</strong>
				</div>
				<table class="table table-bordered table-condensed table-vertical-center">
					<thead>
						<tr>
							<th width="8%" class="center">ID</th>
							<th width="10%" class="center">所属订单</th>
							<th width="6%" class="center">订单状态</th>
							<th width="20%" class="center">用户名称</th>
							<th width="25%" class="center">用户邮箱</th>
							<th width="7%" class="center">发送状态</th>
							<th width="7%" class="center">状态描述</th>
							<th width="7%" class="center">打开状态</th>
							<th width="10%" class="center">操作</th>
						</tr>
					</thead>
					<tbody>
					<notempty name="mails">
						<volist name="mails" id="vo">
						<tr class="selectable <!--{$vo.mail_status_bg_color}-->">
							<td class="center"><a href="javascript:;" class="view_mail_detail" data-email="<!--{$vo.email}-->"><!--{$vo.id}--></a></td>
							<td class="center">
								<a href="<!--{$vo.order_id|get_url='order_detail',###}-->" data-toggle="tooltip" data-trigger="hover" data-html="true" data-placement="right" data-original-title="网站：<!--{$vo.domain}--><br>编号：<!--{$vo.prefix}--><br>下单：<!--{$vo.date}-->"><!--{$vo.prefix}-->-<!--{$vo.order_numid}--></a>
							</td>
							<td class="center"><!--{$vo.order_status}--></td>
							<td class="center"><!--{$vo.first_name}--> <!--{$vo.last_name}--></td>
							<td class="center"><!--{$vo.email}--></td>
							<td class="center">
								<span class="label label-<!--{$vo.mail_status_color}-->"><!--{$vo.mail_status}--></span>
							</td>
							<td class="center">
								<if condition="$vo['resolved'] eq 1">
									<a href="javascript:;" data-html="true" data-toggle="tooltip" data-placement="left" data-original-title="<!--{$vo.status_remark}-->"><span class="label label-important">二次解决</span></a>
								<else/>
								<span class="label label-success">直接投递</span>
								</if>
							</td>
							<td class="center">
								<if condition="$vo['opened'] eq 1">
								<span class="label label-success">已打开</span>
								<else/>
								<span class="label label-error">未打开</span>
								</if>
							</td>
							<td class="center">
								<a href="javascript:;" data-mail-id="<!--{$vo.id}-->" class="view_mail_log">日志</a> &nbsp;
								<if condition="$vo['mail_status_color'] eq 'important'">
								<a href="javascript:;" data-mail-id="<!--{$vo.id}-->" class="solve_problem">解决问题</a>
								</if>
							</td>
						</tr>
						</volist>
					<else/>
					<td class="center" colspan="8">当前没有任何邮件记录！</td>
					</notempty>
					</tbody>
				</table>
				<div class="separator top form-inline small">
					<div class="pagination pull-right" style="margin: 0;">
						<!--{$page}-->
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div id="view_mail_detail_modal" data-width="80" class="auto-height modal hide fade">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 class="heading">邮件内容</h3>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
			<div id="mail_log" data-width="80" class="auto-height modal hide fade">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 class="heading">邮件日志</h3>
				</div>
				<div class="modal-body">
					<p>正在载入日志...</p>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
			<div id="solve_problem_modal" class="modal hide fade">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 class="heading">解决问题邮件</h3>
				</div>
				<div class="modal-body">
					<p>一般遇到发送失败或者发送异常的邮件，根据错误消息通过手动再次发送邮件或者其他方法来解决此问题。</p>
					<p>姓名：<input name="solver" type="text" placeholder="由谁来解决此问题邮件，这里输入姓名" value='<!--{$solver}-->' class="solver input-xlarge"></p>
					<p>解决方式：</p>
					<p>
						<label class="checkbox" for="manual_send">
							<input type="radio" id="manual_send" class="resolutive_way" name="resolutive_way" value="manual_send"> 手动发送
						</label>
						<label class="checkbox" for="mail_error">
							<input type="radio" id="mail_error" class="resolutive_way" name="resolutive_way" value="mail_error"> 邮箱不正确
						</label>
						<label class="checkbox" for="need_not">
							<input type="radio" id="need_not" class="resolutive_way" name="resolutive_way" value="other"> 其他
						</label>
						<label class="checkbox" for="other_desc">
							<input type="text" id="other_desc" name="other_desc" class="input-xlarge" placeholder="这里输入其他原因">
						</label>
					</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" id="resolved_affirm">我已确定解决了此问题邮件</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
			<script>
				$(function(){
					$("select.filter_mail").change(function(){
						window.location.href="/mail/lists?status=" + $(this).val();
					});

					$("a.solve_problem").click(function(event){
						var mail_id = $(this).attr("data-mail-id");
						var solve_problem_modal = $("#solve_problem_modal");
						$("#resolved_affirm").attr("data-mail-id", mail_id);
						solve_problem_modal.modal();
					});

					$("a.view_mail_detail").click(function(event){
						var mail_id = $(this).html();
						var email = $(this).attr("data-email");
						var view_mail_detail_modal = $("div#view_mail_detail_modal");
						view_mail_detail_modal.find(".modal-body").html('<p>正在载入邮件...</p>');
						view_mail_detail_modal.modal();
						$.ajax({
							url: '/ajax/get_mail_detail', type: 'GET', dataType: 'json',
							data: {mail_id: mail_id, 'email':email},
							success:function(result){
								view_mail_detail_modal.find(".modal-body").html(result.data);
							}
						});
					});

					$("button#resolved_affirm").click(function(event){
						var solver = $("input.solver").val();
						var other_desc = $("#other_desc").val();
						var mail_id = $(this).attr("data-mail-id");
						var resolutive_way = $("input.resolutive_way:checked").val();
						if (solver == '') {
							alert('请输入解决者姓名！');
							$("input.solver").focus();
							return false;
						};

						if (resolutive_way == '' || resolutive_way == 'undefined' || resolutive_way == undefined) {
							alert("请选择解决方式！");
							return false;
						};

						if (resolutive_way == 'other' && other_desc == '') {
							alert("请输入其他原因！");
							$("input#other_desc").focus();
							return false;
						}
						console.log(resolutive_way);
						$.ajax({
							url: '/ajax/solve_problem_mail', type: 'POST', dataType: 'json',
							data: {mail_id: mail_id, solver: solver, resolutive_way:resolutive_way, other_desc: other_desc},
							success:function(result){
								if (result.status == 200) {
									alert(result.info);
									window.location.reload();
								} else {
									alert(result.info);
								}
							}
						});
					});

					$("a.view_mail_log").click(function(event){
						var string = "";
						var mail_log = $("#mail_log");
						var mail_id = $(this).attr("data-mail-id");
						var modalbody = mail_log.find("div.modal-body");
						modalbody.html("<p>正在载入日志...</p>");
						mail_log.modal();
						$.ajax({
							url: '/ajax/get_mail_log', type: 'GET', dataType: 'json',
							data: {mail_id: mail_id},
							success:function(result){
								if (result.status == 200) {
									string = "<table class='table table-bordered'><thead><tr><td width='15%'>时间</td><td width='10%'>状态</td><td width='70%'>消息</td><td width='5%'>代码</td></tr></thead><tbody>";
									for (var i = 0; i < result.logs.length; i++) {
										string += "<tr>";
										string += "<td>"+result.logs[i].pubdate+"</td>";
										string += "<td><label class='label "+result.logs[i].event_class+"'>"+result.logs[i].event_text+"</label></td>";
										string += "<td>"+result.logs[i].message+"</td>";
										string += "<td>"+result.logs[i].code+"</td>";
										string += "</tr>";
									};
									string += "</tbody></table>";
									modalbody.html(string);
								} else {
									
								}
							}
						});
					})
				})
			</script>