			<div class="innerLR">
				<div class="row-fluid">
					<div class="span4">
						<div class="widget margin-bottom-none">
							<div class="widget-head">
								<h4 class="heading glyphicons history"><i></i>实时统计</h4>
								<if condition="in_array('view_orders_analysis', $profile['permissions'])">
								<a href="<!--{:get_url('order_analysis')}-->" class="details pull-right">全部</a>
								</if>
							</div>
							<div class="widget-body list">
								<ul>
									<li>
										<span>今日订单总量：</span>
										<span class="count"><!--{$today_count}--></span>
									</li>
									<if condition="in_array('view_order_price', $profile['permissions'])">
									<li>
										<span>今日下单金额：</span>
										<span class="count">¥ <!--{$today_prices|number_format}--></span>
									</li>
									</if>
									<li>
										<span>昨日订单总量：</span>
										<span class="count"><!--{$yesterday_count}--></span>
									</li>
									<if condition="in_array('view_order_price', $profile['permissions'])">
									<li>
										<span>昨日下单金额：</span>
										<span class="count">¥ <!--{$yesterday_prices|number_format}--></span>
									</li>
									</if>
								</ul>
							</div>
						</div>
					</div>
					<div class="span8">
						<div class="widget margin-bottom-none">
							<div class="widget-head">
								<h4 class="heading glyphicons shopping_cart"><i></i>今日订单（<!--{$today_count}-->）</h4>
								<a href="<!--{:get_url('order_list')}-->" class="details pull-right">全部</a>
							</div>
							<div class="widget-body list">
								<table class="table table-responsive table-condensed">
									<thead>
										<tr>
											<th class="center">订单号</th>
											<th>名称</th>
											<if condition="in_array('view_order_price', $profile['permissions'])">
											<th>金额</th>
											</if>
											<th>状态</th>
											<th>网站</th>
											<th>时间</th>
										</tr>
									</thead>
									<tbody>
										<volist name="today_orders" id="vo">
										<tr>
											<td class="center"><a href="<!--{$vo.id|get_url='order_detail',###}-->"><if condition="!empty($vo['prefix'])"><!--{$vo.prefix}-->-</if><!--{$vo.order_id}--></a></td>
											<td><!--{$vo.first_name}--> <!--{$vo.last_name}--></td>
											<if condition="in_array('view_order_price', $profile['permissions'])">
											<td>¥<!--{$vo.prices|number_format}--></td>
											</if>
											<td class="center"><span class="label <!--{$vo.order_status_label_class}-->"><!--{$vo.order_status}--></span></td>
											<td><!--{$vo.domain|str_replace='www.', '', ###}--></td>
											<td><!--{$vo.timestamp|date='H:i:s', ###}--></td>
										</tr>
										</volist>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>