			<div class="innerLR">
				<if condition="in_array('create_account', $profile['permissions'])">
				<h6><a href="javascript:;" class="add_account">添加用户</a></h6>
				</if>
				<table class="table table-bordered table-condensed dataTable">
					<thead>
						<tr role="row">
							<th width="5%">ID</th>
							<th width="10%">账号名</th>
							<th width="20%">注册日期</th>
							<th width="15%">最后登录</th>
							<th width="35%">账号权限</th>
							<if condition="in_array('opera_account', $profile['permissions'])">
							<th wudth="15%">操作</th>
							</if>
						</tr>
					</thead>
					
					<tbody role="alert" aria-live="polite" aria-relevant="all">
						<volist name="data" id="vo">
						<tr class="gradeA <?php if ($vo['islock'] == 1): ?>error<?php endif;?>">
							<td><!--{$vo.id}-->.</td>
							<td><!--{$vo.username}--></td>
							<td><!--{$vo.regdate}--></td>
							<td><!--{$vo.lastlogin}--></td>
							<td><!--{$vo.permissions|join='，', ###}--></td>
							<if condition="in_array('opera_account', $profile['permissions'])">
							<td>
								<if condition="$vo.id eq 1">
								<span style="color:#999">修改账号</span> &nbsp;
								<span style="color:#999">禁用账号</span>
								<else/>
								<a href="#add_account" class="modify_account" data-toggle="modal" data-uid="<!--{$vo.id}-->">修改账号</a> &nbsp;
                                <if condition="$vo['islock'] eq 0">
								<a href="/account/disable/<!--{$vo.id}-->">禁用账号</a>
                                <else/>
                                <a href="/account/enable/<!--{$vo.id}-->">启用账号</a>
                                </if>
								</if>
							</td>
							</if>
						</tr>
						</volist>
					</tbody>
				</table>
				<div class="separator top form-inline small">
					<div class="pagination pull-right" style="margin: 0;">
						<!--{$page}-->
					</div>
					<div class="clearfix"></div>
				</div>
				<div id="add_account" class="modal hide fade">
					<form class="form-horizontal" id="add_account_form" method="POST">
						<input type="hidden" id="uid" name="uid" value="0"/>
						<div class="widget">
							<div class="widget-head"><h4 class="heading">添加新的管理账号</h4></div>
							<div class="widget-body">
								<div class="row-fluid">
									<div class="span10">
										<div class="control-group">
											<label class="control-label" for="username">账号名</label>
											<div class="controls"><input class="span12" id="username" name="username" type="text"></div>
										</div>
										<div class="control-group">
											<label class="control-label" for="userpass">账号密码</label>
											<div class="controls"><input class="span12" id="userpass" name="userpass" type="text"></div>
										</div>
									</div>
								</div>
								<hr class="separator">
								<div class="row-fluid uniformjs">
									<div class="span12">
										<h4 style="margin-bottom: 10px;">为该账号赋予权限</h4>
										<label class="checkbox span12" for="all_permissions">
											<div class="checker"><span><input type="checkbox" class="checkbox" id="all_permissions" name="all_permissions" style="opacity: 0;" value="all_permissions"></span></div>
											所有权限
										</label>
										<foreach name="account_permissions" item="vo">
										<label class="checkbox span2" for="<!--{$key}-->">
											<div class="checker"><span><input type="checkbox" class="checkbox permissions" id="<!--{$key}-->" name="permissions[]" style="opacity: 0;" value="<!--{$key}-->"></span></div>
											<!--{$vo}-->
										</label>
										</foreach>
									</div>
								</div>
								<div class="control-group">
									<div class="error_message"></div>
								</div>
								<hr class="separator">
								<div class="form-actions">
									<button type="submit" class="btn btn-primary" data-action='add_account'>Create</button>
									<button type="button" data-dismiss="modal" class="btn btn-icon btn-default">Cancel</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<script type="text/javascript">
				$(function(){
					var username = $("#username");
					var userpass = $("#userpass");
					var uid = $("#uid");
					var permissions = [];
					var error = $(".error_message");
					var submit = $("button[type='submit']");
					var add_account_box = '';

					$("a.add_account").bind('click', function(){
						uid.val('');
						username.val('').attr('disabled', false);
						userpass.attr('placeholder', '');
						$("div.widget-head").find('h4').html('添加新的管理账号');
						$("input.permissions").prop('checked', false).parent().removeClass('checked');
						submit.html('Create').attr('data-action', 'add_account');
						$("#add_account").modal('show');
					});

					$("#add_account_form").bind('submit', function(){
						var action = submit.attr('data-action');
						$("input.permissions:checked").each(function(){
							permissions.push($(this).val());
						});
						if (action == 'add_account' && username.val() == '') {
							error.css("color", 'red').html('Error: 请输入账号名');
							username.focus();
						} else if (action == 'add_account' && userpass.val() == '') {
							error.css("color", 'red').html('Error: 请输入账号密码');
							userpass.focus();
						} else if (permissions == '') {
							error.css("color", 'red').html('Error: 请选择账号权限');
						} else {
							submit.addClass('disabled').attr("disabled", true);
							$.post('/ajax/' + submit.attr('data-action'), {uid:uid.val(), username:username.val(), userpass:userpass.val(), permissions:permissions}, function(resdata){
								if (resdata.status == 200) {
									error.css("color", 'green').html('Info: 操作成功');
									window.location.reload();
								} else {
									error.css("color", 'red').html(resdata.info);
									submit.removeClass('disabled').attr("disabled", false);
								}
							},'json')
						}
						return false;
					});

					$("a.modify_account").bind("click", function(){
						if ($(this).attr('data-uid')) {
							var user_id = $(this).attr('data-uid');
							$.post('/ajax/get_account',{uid:$(this).attr('data-uid')}, function(resdata){
								if (resdata.status == 200) {
									$("#uid").val(user_id);
									$("#username").val(resdata.info.username).prop('disabled', true);
									$("#userpass").attr('placeholder', '如不修改密码请留空');
									$("div.widget-head").find('h4').html('修改账号');
									if (resdata.info.permissions) {
										for(var i=0; i < resdata.info.permissions.length; i++){
											$("input#"+resdata.info.permissions[i]).prop('checked', true).parent().addClass('checked');
										}
									}
									
									submit.html('Save').attr('data-action', 'save_account');
									$("#add_account").modal('show');
								} else {
									alert(resdata.info);
								}
							},'json')
						}
					})

					$('#all_permissions').change(function(){
						if ($(this).is(':checked')) {
							$("input.permissions").prop('checked', true).parent().addClass('checked');
						} else {
							$("input.permissions").prop('checked', false).parent().removeClass('checked');
						}
					});

					$('input.permissions').change(function(){
						if (!$(this).is(':checked')) {
							$("#all_permissions").prop('checked', false).parent().removeClass('checked');
						}
					});
				})
			</script>