<script src="/theme/scripts/raphael.min.js"></script>
<script src="/theme/scripts/morris.min.js"></script>
<script src="/theme/scripts/prettify.js"></script>
<link rel="stylesheet" href="/theme/css/prettify.css">
<link rel="stylesheet" href="/theme/css/morris.css">
<div class="innerLR">
  <form class="nmb" name="morris" action="__SELF__" method="get">
    <p>
      <input type="text" id="morris_date_start" class="input-small nmb" name="morris_date_start"
             value="<!--{$date_start}-->"/> -
      <input type="text" id="morris_date_end" class="input-small nmb" name="morris_date_end"
             value="<!--{$date_end}-->"/>&nbsp;
      <select name="domain" class="nmb">
        <option value="">选择所有网站</option>
        <volist name="website" id="ws">
          <optgroup label="<!--{$key}-->">
            <volist name="ws" id="v">
              <option value="<!--{$v.weburl}-->"
              <if condition="!empty($_GET['domain']) AND $_GET['domain'] eq $v['weburl']">selected="selected"</if>
              ><!--{$v.weburl}--></option>
            </volist>
          </optgroup>
        </volist>
      </select>&nbsp;
      <button id="morris_apply" name="morris_apply" class="btn btn-small btn-primary">查询</button>
      &nbsp;
      <a href="?morris_date_start=<!--{$today}-->&morris_date_end=<!--{$today}-->">今天</a>&nbsp;
      <a href="?morris_date_start=<!--{$yesterday}-->&morris_date_end=<!--{$yesterday}-->">昨天</a>&nbsp;
      <a href="?morris_date_start=<!--{$s_week}-->&morris_date_end=<!--{$e_week}-->">本周</a>&nbsp;
      <a href="<!--{:get_url('view_orders_analysis')}-->">本月</a>&nbsp;
      <a href="?morris_date_start=<!--{$s_year}-->&morris_date_end=<!--{$e_year}-->">本年</a>
    </p>
  </form>
  <div class="widget">
    <div class="widget-head">
      <h4 class="heading"><!--{$date_start}--> - <!--{$date_end}--> 订单量走势(<!--{$sum_count|number_format}-->)</h4>
    </div>
    <div class="widget-body">
      <div id="chat_sum_count">
        <empty name="orders_info">当前没有数据</empty>
      </div>
    </div>
  </div>
  <if condition="in_array('view_order_price', $profile['permissions'])">
    <div class="widget">
      <div class="widget-head">
        <h4 class="heading"><!--{$date_start}--> - <!--{$date_end}--> 订单金额走势(<!--{$sum_prices|number_format=###,2}-->
          )</h4>
      </div>
      <div class="widget-body">
        <div id="chat_sum_price">
          <empty name="orders_info">当前没有数据</empty>
        </div>
      </div>
    </div>
  </if>
  <div class='row-fluid'>
    <if condition="in_array('view_order_price', $profile['permissions'])">
      <div class="span6">
        <else/>
        <div class="span12">
    </if>
    <div class="widget">
      <div class="widget-head">
        <h4 class="heading"><!--{$date_start}--> - <!--{$date_end}--> 网站出单量百分比</h4>
      </div>
      <div class="widget-body">
        <div id="chat_website_count">
          <empty name="orders_info">当前没有数据</empty>
        </div>
      </div>
    </div>
  </div>
  <if condition="in_array('view_order_price', $profile['permissions'])">
    <div class="span6">
      <div class="widget">
        <div class="widget-head">
          <h4 class="heading"><!--{$date_start}--> - <!--{$date_end}--> 网站销售金额百分比</h4>
        </div>
        <div class="widget-body">
          <div id="chat_website_price">
            <empty name="orders_info">当前没有数据</empty>
          </div>
        </div>
      </div>
    </div>
  </if>
</div>
<div class='row-fluid'>
  <div class="span6">
    <div class="widget margin-bottom-none">
      <div class="widget-head">
        <h4 class="heading"><!--{$date_start}--> - <!--{$date_end}--> 热卖产品【TOP 100】</h4>
      </div>
      <div class="widget-body list">
        <table class="table table-responsive table-condensed">
          <thead>
          <tr>
            <th>名称</th>
            <th>数量</th>
            <th>价格</th>
          </tr>
          </thead>
          <tbody>
          <volist name="pop_products" id="vo">
            <tr>
              <td><!--{$vo.name}--></td>
              <td><!--{$vo.count|number_format}--></td>
              <td><!--{$vo.price|number_format}--></td>
            </tr>
          </volist>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="widget margin-bottom-none">
      <div class="widget-head">
        <h4 class="heading"><!--{$date_start}--> - <!--{$date_end}--> 订单状态统计</h4>
      </div>
      <div class="widget-body list">
        <table class="table table-responsive table-condensed">
          <thead>
          <tr>
            <th>状态</th>
            <th>数量</th>
            <th>价格</th>
          </tr>
          </thead>
          <tbody>
          <volist name="order_status" id="vo">
            <tr>
              <td><span class="label <!--{$vo.labelclass}-->"><!--{$vo.name}--></span></td>
              <td><!--{$vo.count|number_format}--></td>
              <td><!--{$vo.price|number_format}--></td>
            </tr>
          </volist>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
  $(function () {
    var chat_sum_count = [
      <volist name="orders_info" id="vo">
      {"period_count": "<!--{$key}-->", "quantity": <!--{$vo.count}-->},
      </volist>
    ]
    ;
    Morris.Line({
      element: 'chat_sum_count', data: chat_sum_count, xkey: 'period_count',
      ykeys: ['quantity'], labels: ['下单数量']
    });

    Morris.Donut({
      element: 'chat_website_count',
      data: [
      <volist name="website_info" id="vo">
      {label: '<!--{$key}-->', value: <!--{$vo.percent_count}-->, count: <!--{$vo.count}-->},
    </volist>
    ],
    formatter: function (y, data) {
      return y + "% (" + data.count + ')';
    }
  })
    ;

    <if condition = "in_array('view_order_price', $profile['permissions'])" >
      var chat_sum_price = [
        <volist name="orders_info" id="vo">
      {"period_price": "<!--{$key}-->", "prices": <!--{$vo.price}-->},
    </volist>
    ]
    ;
    Morris.Line({
      element: 'chat_sum_price', data: chat_sum_price, xkey: 'period_price',
      ykeys: ['prices'], labels: ['订单金额']
    });

    Morris.Donut({
      element: 'chat_website_price',
      data: [
      <volist name="website_info" id="vo">
      {label: '<!--{$key}-->', value: <!--{$vo.percent_price}-->, price: '<!--{$vo.price|number_format}-->'},
    </volist>
    ],
    formatter: function (y, data) {
      return y + "% (" + data.price + ')';
    }
  })
    ;
    </if>

    prettyPrint();
  })
</script>