			<style type="text/css">
			.second_filed table{border-top: 1px #d7d8da solid; border-bottom: 1px #d7d8da solid; border-right: 1px #d7d8da solid}
			.subtable .bankcol1 label{display:inline;}
			</style>
			<div class="innerLR">
				<div class="widget">
					<div class="widget-head"><h4 class="heading">#<!--{$vo.values.increment_id}--></h4>
				</div>
				<div class="widget-body">
					<div class="row-fluid">
						<div>
							<h4>订单信息</h4>
							<table width="100%" class="table table-bordered">
								<tr>
									<td width="10%" class="first_filed">来源</td>
									<td width="90%" class="second_filed"><!--{$vo.values.domain}--></td>
								</tr>
								<tr>
									<td class="first_filed">订单号</td>
									<td class="second_filed">#<!--{$vo.values.order_id}--></td>
								</tr>
								<tr>
									<td class="first_filed">订单状态</td>
									<td class="second_filed">
										<switch name="vo.values.order_status">	
										<case value="N" break="0"></case>
										<case value="O"><span style="color:red"><strong>已下单</strong></span></case>
										<case value="C"><span style="color:#FF9522"><strong>已付款</strong></span></case>
										<case value="P"><span style="color:green"><strong>已发货</strong></span></case>
										<case value="I"><span style="color:#777"><strong>已取消</strong></span></case>
										</switch>
									</td>
								</tr>
								<tr>
									<td class="first_filed">用户信息</td>
									<td class="second_filed">
										<table width="100%">
											<tr>
												<td><u>姓名</u>：</td>
												<td><strong><!--{$vo.first_name}--> <!--{$vo.last_name}--></strong></td>
											</tr>
											<tr>
												<td><u>邮箱</u>：</td>
												<td><strong><a href="mailto:<!--{$vo.email}-->" target="_blank"><!--{$vo.email}--></a></strong></td>
											</tr>
											<tr>
												<td><u>地址</u>：</td>
												<td><strong><!--{$vo.values.address}--></strong></td>
											</tr>
											<tr>
												<td><u>电话</u>：</td>
												<td><strong><!--{$vo.values.user_phone}--></strong></td>
											</tr>
											<tr>
												<td><u>IP地址</u>：</td>
												<td><a href="http://<!--{$vo.ip}-->.ipaddress.com/#ipinfo" target="_blank"><strong><!--{$vo.values.ip}--></strong></a></td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td class="first_filed">日期</td>
									<td class="second_filed"><!--{$vo.timestamp|date='Y-m-d H:i:s', ###}--></td>
								</tr>
								<if condition="in_array('view_order_price', $profile['permissions'])">
								<tr>
									<td class="first_filed">总金额(含运费)</td>
									<td class="second_filed"><strong>¥<!--{$vo.values.sum_price|number_format}--></strong></td>
								</tr>
								<tr>
									<td class="first_filed">运费金额</td>
									<td class="second_filed"><strong>¥<!--{$vo.values.shipping_amount|number_format}--></strong></td>
								</tr>
								<tr>
									<td class="first_filed">优惠总金额</td>
									<td class="second_filed"><strong>¥<!--{$vo.values.discount_amount|number_format}--></strong></td>
								</tr>
								</if>
								<tr>
									<td class="first_filed">支付方式</td>
									<td class="second_filed">銀行振込</td>
								</tr>
								<tr>
									<td class="first_filed">银行信息</td>
									<td class="second_filed subtable"><!--{$vo.values.payment_info}--></td>
								</tr>
								<tr>
									<td class="first_filed">物流方式</td>
									<td class="second_filed">EMS</td>
								</tr>
								<tr>
									<td class="first_filed">备注</td>
									<td class="second_filed"><notempty name="vo.values.comment.customercomment"><!--{$vo.values.comment.customercomment}--></notempty></td>
								</tr>
							</table>
							<div class="separator bottom"></div>
							<h4>产品信息</h4>
							<table width="100%" class="dynamicTable table table-striped table-bordered table-condensed dataTable">
								<tr>
									<td class="center" width="5%"><strong>序号</strong></td>
									<td width="35%"><strong>产品名</strong></td>
									<if condition="in_array('view_order_price', $profile['permissions'])">
									<td class="center" width="10%"><strong>实际金额(单价)</strong></td>
									<td class="center" width="10%"><strong>优惠金额(单价)</strong></td>
									<td class="center" width="10%"><strong>总价格</strong></td>
									</if>
									<td class="center" width="5%"><strong>数量</strong></td>
									<td class="center" width="10%"><strong>编号</strong></td>
								</tr>
								<volist name="vo.values.product" id="v" key="j">
								<tr>
									<td class="center" valign="middle"><!--{$j}-->.</td>
									<td><a href="<!--{$v.product_url}-->" target="_blank"><!--{$v.name}--></a></td>
									<if condition="in_array('view_order_price', $profile['permissions'])">
									<td class="center">¥<!--{$v.price|number_format}--></td>
									<td class="center">¥<?php echo $v['old_price'] - $v['price'];?></td>
									<td class="center">¥<?php echo number_format($v['price'] * $v['qty_ordered'])?></td>
									</if>
									<td class="center"><!--{$v.qty_ordered|number_format}--></td>
									<td class="center"><!--{$v.sku}--></td>
								</tr>
								</volist>
							</table>
						</div>
					</div>
				</div>
				</div>
			</div>