			<div class="innerLR">
				<if condition="in_array(ACTION_NAME, array('recycle', 'search'))">
					<p>
						总数：<!--{$count}-->
					</p>
				</if>
				<!-- <p class="text-error">注：绿色背景为DHL配送</p> -->
				<table class="table table-bordered table-hover table-condensed table-vertical-center">
					<thead>
						<tr>
							<th width="5%" class="center uniformjs">催款</th>
							<th class="center">订单号</th>
							<th width="8%" class="center">订单状态</th>
							<th width="15%">姓名</th>
							<th width="20%">邮箱</th>
							<th width="15%" class="center">日期(中国时区)</th>
							<if condition="!empty($customs) and $customs eq true">
							<th width="15%" class="center">检查日期</th>
							</if>
							<if condition="in_array('view_order_price', $profile['permissions'])">
							<th width="8%" class="center">金额</th>
							</if>
							<th width="10%" class="center">操作</th>
						</tr>
					</thead>
					<tbody>
					<notempty name="orders">
						<volist name="orders" id="vo">
						<tr class="selectable <eq name='vo.customs_hold' value='1'>error</eq> <eq name='vo.shipping_method' value='DHL'>success</eq>">
							<td class="center uniformjs">
								<if condition="$vo.press eq 0"><span class="label label-default">0</span><else/><span class="label label-success"><span class="label label-success"><!--{$vo.press}--></span></span></if>
							</td>
							<td class="center">
								<a href="<!--{$vo.id|get_url='order_detail',###}-->">
									<if condition="!empty($vo['prefix'])"><!--{$vo.prefix}-->-</if><!--{$vo.order_id}--><br/>(<!--{$vo.domain}-->)
								</a>
								<notempty name="vo.order_remark"><br><a href="<!--{$vo.id|get_url='order_detail',###}-->#info" class="tooltips" data-placement="right" data-title="<!--{$vo.order_remark.pubdate}--><br><!--{$vo.order_remark.remark}-->"><span class="badge badge-inverse">注</span></a></notempty>
							</td>
							<td class="center">
								<if condition="$menu eq 'recycle'">
									<!--{$vo.order_status}-->
								<else/>
								<div class="btn-group">
									<if condition="!empty($customs) and $customs eq true">
									<span class="label btn-inverse">被扣</span>
									<else/>
									<span class="label <!--{$vo.order_status_label_class}-->"><!--{$vo.order_status}--></span>
									</if>
								</div>
                                <if condition="!empty($vo['ems_number'])">
                                    <div><?php
                                        if (is_array($vo['ems_number'])):
                                            echo join('<br>', $vo['ems_number']);
                                        else:
                                            echo $vo['ems_number'];
                                        endif;
                                        ?></div>
                                </if>
								</if>
							</td>
							<td>
								<strong><!--{$vo.first_name}--><br/><!--{$vo.last_name}--></strong>
							</td>
							<td>
								<strong><!--{$vo.email}--></strong>
							</td>
							<td class="center important"><!--{$vo.timestamp|date='Y-m-d H:i:s', ###}--></td>
							<if condition="!empty($customs) and $customs eq true">
							<td class="center important">
								<?php echo $checkdate[$vo['id']];?>
							</td>
							</if>
							<if condition="in_array('view_order_price', $profile['permissions'])">
							<td class="center important">¥<!--{$vo['prices']|number_format}--></td>
							</if>
							<td class="center" style="width: 60px;">
								<div class="btn-group">
									<button class="btn glyphicons cogwheel dropdown-toggle btn-mini" data-toggle="dropdown" href="#"><i></i><span class="caret"></span></button>
									<ul class="dropdown-menu order_data pull-right" data-order-numid="<if condition="!empty($vo['prefix'])"><!--{$vo.prefix}-->-</if><!--{$vo.order_id}-->" data-order-id="<!--{$vo.id}-->" data-price="<!--{$vo.prices|number_format}-->" data-domain="<!--{$vo.domain}-->" data-smtp="<!--{$vo.smtp}-->" data-account-name="<!--{$vo.account_name}-->" data-username="<!--{$vo.first_name}--> <!--{$vo.last_name}-->" data-email="<!--{$vo.email}-->" data-date="<!--{$vo.timestamp|date='Y-m-d H:i:s', ###}-->" data-press="<!--{$vo.press}-->" style="min-width:100px">
										<li><a href="<!--{$vo.id|get_url='order_detail',###}-->">查看订单</a></li>
										<li><a href="http://<!--{$vo.ip}-->.ipaddress.com/#ipinfo" target="_blank">IP地址</a></li>
										<if condition="$vo['order_status'] eq '已确认'">
										<li><a href="javascript:;" class="change_status_link" data-status="press">发送催款邮件</a></li>
										</if>
										<li><a href="javascript:;" data-order-id="<!--{$vo.id}-->" class="publish_remark" data-status="press">写订单备注</a></li>
										<notempty name="vo.ems_number">
										<if condition="$vo['shipping_method'] eq 'EMS'">
										<volist name="vo.ems_number" id="en">
										<li><a href="https://trackings.post.japanpost.jp/services/srv/search/direct?searchKind=S004&locale=ja&reqCodeNo1=<!--{$en}-->&x=19&y=22" target="_blank">查看物流(<!--{$en}-->)</a></li>
										</volist>
										</if>
										</notempty>
										<if condition="$username eq 'developer'">
											<li><a href="javascript:;" class='json' data-id="<!--{$vo.id}-->">JSON</a></li>
										</if>
										<if condition="in_array('modify_orders', $profile['permissions'])">
											<li><a href="<!--{$vo.id|get_url='order_modify',###}-->" data-id="<!--{$vo.id}-->">修改订单</a></li>
										</if>
										<li class="divider"></li>
										<if condition="$menu eq 'recycle'">
											<if condition="in_array('recover_orders', $profile['permissions'])">
												<li><a href="javascript:;" class='recover' data-id="<!--{$vo.id}-->">恢复</a></li>
											</if>
										<else/>
											<if condition="in_array('delete_orders', $profile['permissions'])">
												<li><a href="javascript:;" class='delete' data-id="<!--{$vo.id}-->">删除</a></li>
											</if>
										</if>
									</ul>
								</div>
							</td>
						</tr>
						</volist>
					<else/>
					<td class="center" colspan="8">当前没有任何订单记录！</td>
					</notempty>
					</tbody>
				</table>
				<div class="separator top form-inline small">
					<div class="pagination pull-right" style="margin: 0;">
						<!--{$page}-->
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div id="json_data" class="modal hide fade">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 class="heading">序列化数据</h3>
				</div>
				<div class="modal-body">
					<p>loading...</p>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
			<div id="delete_order" class="modal hide fade">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 class="heading">删除订单</h3>
				</div>
				<div class="modal-body">
					<p>你确定要删除此订单咩？</p>
				</div>
				<div class="modal-footer">
					<button class="btn" id="delete_affirm">我确定删除，并保证删除后3天内不找技术恢复数据</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
			<include file="Public:change_order_status" />
			<include file="Public:publish_remark" />
			<script type="text/javascript">
				$(function(){
					$("a.json").bind('click', function(){
						var id = $(this).attr('data-id');
						var mbody = $('#json_data').find('.modal-body');
						$('#json_data').modal('show');
						mbody.html('<p>loading...</p>');
						$.post('/ajax/get_order_json',{id:id}, function(resdata){
							if (resdata.status == 200) {
								mbody.html("<textarea style='width:97%;height:360px'>" + resdata.values + "</textarea>");
							} else {
								mbody.html('<p style="color:red">'+resdata.info+'</p>');
								if (resdata.status == 104) {
									setTimeout(function(){
										window.location.href="/";
									},2000);
								};
							}
						}, 'json')
					});

					$("a.delete").bind("click", function(){
						$("#delete_order").modal('show');
						var id = $(this).attr('data-id');
						var delete_affirm = $("#delete_affirm");
						delete_affirm.attr('data-id', id);
					});

					$("#delete_affirm").bind("click", function(){
						$(this).attr('disabled', true);
						var id = $(this).attr('data-id');
						var mbody = $('#delete_order').find('.modal-body');
						mbody.html('正在删除请稍后......');
						$.post('/ajax/delete_orders',{id:id}, function(resdata){
							if (resdata.status == 200) {
								mbody.html("<span style='color:green'>删除成功！</span>");
								setTimeout(function(){
									window.location.reload();
								}, 500);
							} else {
								$("#delete_affirm").attr('disabled', false);
								mbody.html('删除遇到错误：<p style="color:red">'+resdata.info+'</p>');
								if (resdata.status == 104) {
									setTimeout(function(){
										window.location.href="/";
									},2000);
								};
							}
						}, 'json');
					});

					$("a.recover").bind('click', function() {
						var order_id = $(this).attr('data-id');
						if (confirm("是否确认恢复此订单？")) {
							location.href = '/order/recover/' + order_id;
						}
					});
				});
			</script>