			<style type="text/css">
			.second_filed table{border-top: 1px #d7d8da solid; border-bottom: 1px #d7d8da solid; border-right: 1px #d7d8da solid}
			.subtable .bankcol1 label{display:inline;}
			</style>
			<div class="innerLR">
				<input type="hidden" id="global_order_id" value="<!--{$vo.id}-->"/>
				<div class="widget">
					<div class="widget-head"><h4 class="heading"><if condition="!empty($vo['prefix'])"><!--{$vo.prefix}--> - </if><!--{$vo.values.increment_id}--></h4>
				</div>
				<div class="widget-body">
					<div class="row-fluid">
						<div>
							<include file="Public:detail_product_tools" />
							<table width="100%" class="table table-striped table-bordered table-condensed">
								<tr>
									<td class="center" width="5%"><strong>序号</strong></td>
									<td width="25%"><strong>产品名</strong></td>
									<td width="10%"><strong>产品图片</strong></td>
									<td class="center"><strong>产品属性</strong></td>
									<if condition="in_array('view_order_price', $profile['permissions'])">
									<td class="center" width="10%"><strong>实际金额(单价)</strong></td>
									<td class="center" width="10%"><strong>优惠金额(单价)</strong></td>
									<td class="center" width="10%"><strong>总价格</strong></td>
									</if>
									<td class="center" width="5%"><strong>数量</strong></td>
									<td class="center" width="10%"><strong>编号</strong></td>
									<td class="center" width="5%"><strong>操作</strong></td>
								</tr>
								<if condition="!empty($vo['values']['product']['item_id'])">
								<tr>
									<td class="center" valign="middle">1.</td>
									<td><a href="<!--{$vo.values.product.product_url}-->" <?php if ($vo['values']['product']['product_url'] > 1 || (strpos($vo['values']['product']['name'], '+') !== false && strpos($vo['values']['product']['name'], 'セット') !== false) || (strpos($vo['values']['product']['name'], 'x') !== false && strpos($vo['values']['product']['name'], 'セット') !== false) || (strpos($vo['values']['product']['name'], '×') !== false && strpos($vo['values']['product']['name'], 'セット') !== false) || strpos($vo['values']['product']['name'], 'ｘ') !== false || strpos($vo['values']['product']['name'], '*2') !== false): ?> style="color:red;font-size:16px;font-weight:700"<?php endif;?> target="_blank"><!--{$vo.values.product.name}--></a></td>
									<td class="product_image">
									<notempty name="vo.values.product.product_image">
										<if condition="strpos($vo['values']['product']['product_image'], 'http') heq false">
										<img width="150" src="http://<!--{$vo.values.domain}--><!--{$vo.values.product.product_image}-->">
										<else/>
										<img width="150" src="<!--{$vo.values.product.product_image}-->">
										</if>
									<else/>无图像
									</notempty>
									</td>
									<td class="center">
										<notempty name="vo.values.product.product_options.options">
										<?php
										$options = array();
										$product_options = $vo['values']['product']['product_options'];
										foreach ($product_options['options'] as $value) {
											$options[] = $value['label'] . '：' . $value['value'];
										}
										echo join('<br/>', $options);
										?>
										<else/>
										无
										</notempty>
									</td>
									<if condition="in_array('view_order_price', $profile['permissions'])">
									<td class="center">¥<!--{$vo.values.product.price|number_format}--></td>
									<td class="center">¥<?php echo ($vo['values']['product']['old_price'] - $vo['values']['product']['price']);?></td>
									<td class="center">¥<?php echo number_format($vo['values']['product']['price'] * $vo['values']['product']['qty_ordered'])?></td>
									</if>
									<td class="center"><!--{$vo.values.product.qty_ordered}--></td>
									<td class="center"><!--{$vo.values.product.sku}--></td>
									<td class="center"><a href="javascript:;" class="delete_product">删除</a></td>
								</tr>
								<else/>
								<volist name="vo.values.product" id="v" key="j">
								<tr data-product-id="<!--{$v.item_id}-->">
									<td class="center" valign="middle"><!--{$j}-->.</td>
									<td class="product_name"><a href="<!--{$v.product_url}-->" <?php if ($v['qty_ordered'] > 1 || (strpos($v['name'], '+') !== false && strpos($v['name'], 'セット') !== false) || (strpos($v['name'], 'x') !== false && strpos($v['name'], 'セット') !== false) || (strpos($v['name'], '×') !== false && strpos($v['name'], 'セット') !== false) || strpos($v['name'], 'ｘ') !== false || strpos($v['name'], '*2') !== false):?> style="color:red;font-size:16px;font-weight:700"<?php endif;?> target="_blank"><!--{$v.name}--></a></td>
									<td class="product_image">
									<notempty name="v.product_image">
										<if condition="strpos($v['product_image'], 'http') heq false">
										<img width="150" src="http://<!--{$vo.values.domain}--><!--{$v.product_image}-->">
										<else/>
										<img width="150" src="<!--{$v.product_image}-->">
										</if>
									<else/>无图像
									</notempty>
									</td>
									<td class="product_options center">
										<notempty name="v.product_options.options">
										<?php
										if (is_array($v['product_options']['options'])) {
											$options = array();
											$product_options = $v['product_options'];
											foreach ($product_options['options'] as $value) {
												$options[] = $value['label'] . '：' . $value['value'];
											}
											echo join('<br/>', $options);
										} else {
											echo $v['product_options']['options'];
										}
										?>
										<else/>
										无
										</notempty>
									</td>
									<if condition="in_array('view_order_price', $profile['permissions'])">
									<td class="center">¥<!--{$v.price|number_format}--></td>
									<td class="center">¥<?php echo $v['old_price'] - $v['price'];?></td>
									<td class="center">¥<?php echo number_format($v['price'] * $v['qty_ordered'])?></td>
									</if>
									<td class="product_qty center"><!--{$v.qty_ordered|number_format}--></td>
									<td class="center"><!--{$v.sku}--></td>
									<td class="center">
										<if condition="in_array('modify_order_products', $profile['permissions'])">
										<a href="javascript:;" class="modify_product">修改</a><br><br>
										</if>
										<if condition="in_array('delete_order_products', $profile['permissions'])">
										<a href="javascript:;" class="delete_product">删除</a>
										</if>
									</td>
								</tr>
								</volist>
								</if>
							</table>
							<div class="separator bottom"></div>
							<table class="table table-striped table-bordered table-condensed">
								<tr>
									<td><u>姓名</u>：</td>
									<td><strong><!--{$vo.first_name}--> <!--{$vo.last_name}--></strong></td>
								</tr>
								<tr>
									<td><u>邮箱</u>：</td>
									<td><strong><a href="mailto:<!--{$vo.email}-->" target="_blank"><!--{$vo.email}--></a></strong></td>
								</tr>
								<tr>
									<td><u>地址</u>：</td>
									<td><strong><!--{$vo.values.shipping_address}--></strong></td>
								</tr>
								<tr>
									<td><u>电话</u>：</td>
									<td><strong><!--{$vo.values.telephone}--></strong></td>
								</tr>
								<tr>
									<td><u>IP地址</u>：</td>
									<td><a href="http://<!--{$vo.ip}-->.ipaddress.com/#ipinfo" target="_blank"><strong><!--{$vo.values.remote_ip}--></strong></a></td>
								</tr>
								<tr>
									<td>用户备注</td>
									<td style="color:red">
										<notempty name="vo.values.comment.customercomment"><!--{$vo.values.comment.customercomment}--></notempty>
										<notempty name="vo.values.comment.customerfeedback">郵便局留＆別のお届け先を指定：<strong><!--{$vo.values.comment.customerfeedback}--></strong></notempty>
									</td>
								</tr>
							</table>
							<div class="separator bottom"></div>
							<table width="100%" class="table table-bordered table-condensed">
								<tr>
									<td width="10%" class="first_filed">来源</td>
									<td width="90%" class="second_filed"><!--{$vo.values.domain}--></td>
								</tr>
								<tr>
									<td class="first_filed">订单号</td>
									<td class="second_filed"><if condition="!empty($vo['prefix'])"><!--{$vo.prefix}-->-</if><!--{$vo.values.increment_id}--></td>
								</tr>
								<tr>
									<td class="first_filed">订单状态</td>
									<td class="second_filed">
										<div class="btn-group">
											<if condition="in_array('change_order_status', $profile['permissions'])">
											<a class="btn <!--{$vo.order_status_btn_class}--> dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
											<!--{$vo.order_status}-->
											<span class="caret"></span></a>
											<ul class="dropdown-menu order_data" data-order-numid="<if condition="!empty($vo['prefix'])"><!--{$vo.prefix}-->-</if><!--{$vo.order_id}-->" data-order-id="<!--{$vo.id}-->" data-price="<!--{$vo.prices|number_format}-->" data-domain="<!--{$vo.domain}-->" data-smtp="<!--{$vo.smtp}-->" data-account-name="<!--{$vo.account_name}-->" data-username="<!--{$vo.first_name}--> <!--{$vo.last_name}-->" data-email="<!--{$vo.email}-->" data-date="<!--{$vo.timestamp|date='Y-m-d H:i:s', ###}-->" data-press="<!--{$vo.press}-->">
												<li><a href="javascript:;" class="change_status_link" data-status="O">已下单</a></li>
												<li><a href="javascript:;" class="change_status_link" data-status="Q">已确认</a></li>
												<li><a href="javascript:;" class="change_status_link" data-status="C">已付款</a></li>
												<li><a href="javascript:;" class="change_status_link" data-status="ready">待发货</a></li>
												<li><a href="javascript:;" class="change_status_link" data-status="wait">等货</a></li>
												<li><a href="javascript:;" class="change_status_link" data-status="stockout">缺货</a></li>
												<li><a href="javascript:;" class="change_status_link" data-status="P">已发货</a></li>
												<li><a href="javascript:;" class="change_status_link" data-status="I">已取消</a></li>
												<li><a href="javascript:;" class="change_status_link" data-status="T">已退款</a></li>
											</ul>
											<else/>
											<span class="label <!--{$vo.order_status_label_class}-->"><!--{$vo.order_status}--></span>
											</if>
										</div>&nbsp;&nbsp;&nbsp;&nbsp;
										<if condition="$vo['customs_hold'] eq 1">
											<span class="label btn-inverse">已被扣关</span>
										</if>
									</td>
								</tr>
								<tr>
									<td class="first_filed">催款</td>
									<td class="second_filed">
										<if condition="$vo.press eq 0">
											<span class="label label-default">0</span>
										<else/>
											<span class="label label-success"><!--{$vo.press}--></span>
										</if>
										<if condition="in_array('send_press_mail', $profile['permissions'])">
											<if condition="$vo['order_status'] eq '已确认'">
											&nbsp;&nbsp;<a href="javascript:;" class="change_status_link" data-status="press">发送催款邮件</a>
											</if>
										</if>
									</td>
								</tr>
								<tr>
									<td class="first_filed">客服备注</td>
									<td class="second_filed">
										<notempty name="order_remark">
										<table class="table table-striped table-bordered table-condensed">
											<tr>
												<td><strong>备注日期</strong></td>
												<td><strong>备注内容</strong></td>
												<td><strong>提醒</strong></td>
												<td><strong>提醒日期</strong></td>
											</tr>
											<volist name="order_remark" id="v">
											<if condition="$i eq 1">
											<tr class="text-error">
												<td width="20%"><strong><!--{$v.pubdate}--></strong></td>
												<td width="60%"><strong><!--{$v.remark}--></strong></td>
												<td width="5%"><strong><empty name="v.beeptimer"><span class="label">否</span><else/><span class="label label-important">是</span></empty></strong></td>
												<td width="15%"><strong><!--{$v.beeptimer_date}--></strong></td>
											</tr>
											<else/>
											<tr>
												<td width="20%"><!--{$v.pubdate}--></td>
												<td width="60%"><!--{$v.remark}--></td>
												<td width="5%"><empty name="v.beeptimer"><span class="label">否</span><else/><span class="label label-important">是</span></empty></td>
												<td width="15%"><!--{$v.beeptimer_date}--></td>
											</tr>
											</if>
											</volist>
										</table>
										</notempty>
										<a href="javascript:;" data-order-id="<!--{$vo.id}-->" class="glyphicons edit publish_remark" style="padding-left:25px;color:#47759e"><i></i>写备注</a>
									</td>
								</tr>
								<tr>
									<td class="first_filed">下单日期</td>
									<td class="second_filed"><!--{$vo.timestamp|date='Y-m-d H:i:s', ###}--></td>
								</tr>
								<if condition="in_array('view_order_price', $profile['permissions'])">
								<tr>
									<td class="first_filed">总金额(含运费)</td>
									<td class="second_filed"><strong>¥<!--{$vo.values.grand_total|number_format}--></strong></td>
								</tr>
								<tr>
									<td class="first_filed">运费金额</td>
									<td class="second_filed"><strong>¥<!--{$vo.values.shipping_amount|number_format}--></strong></td>
								</tr>
								<tr>
									<td class="first_filed">优惠总金额</td>
									<td class="second_filed"><strong>¥<!--{$vo.values.discount_amount|number_format}--></strong></td>
								</tr>
								</if>
								<tr>
									<td class="first_filed">支付方式</td>
									<td class="second_filed">銀行振込</td>
								</tr>
								<tr>
									<td class="first_filed">银行信息</td>
									<td class="second_filed subtable"><!--{$vo.values.payment_info}--></td>
								</tr>
								<tr>
									<td class="first_filed">物流方式</td>
									<td class="second_filed"><!--{$vo.values.shipping_method}--></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<include file="Public:change_order_status" />
			<include file="Public:publish_remark" />
			<include file="Public:operate_product" />