			<div class="innerLR">
				<p class="text-error"><strong>PS：此页面数据每30分钟更新一次</strong></p>
				<div class='row-fluid'>
					<div class="span6">
						<div class="widget">
							<div class="widget-head">
								<h4 class="heading">网站回头客统计（TOP 500）</h4>
							</div>
							<div class="widget-body">
								<table class="table table-condensed">
									<thead>
										<tr>
											<td>邮箱</td>
											<td>购买量</td>
										</tr>
									</thead>
									<tbody>
										<volist name="email_draw" id="vo">
										<?php if ($i > 500) {break;}?>
										<tr>
											<td><a href="/order/search?email=<!--{$vo.email}-->"><!--{$vo.email}--></a></td>
											<td><!--{$vo.count}--></td>
										</tr>
										</volist>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="widget">
							<div class="widget-head">
								<h4 class="heading">邮箱运营商排名（TOP 200）</h4>
							</div>
							<div class="widget-body">
								<table class="table table-condensed">
									<thead>
										<tr>
											<td>邮箱</td>
											<td>数量</td>
										</tr>
									</thead>
									<tbody>
										<volist name="email_operator" id="vo">
											<?php if ($i > 200) {break;}?>
										<tr>
											<td><!--{$key}--></td>
											<td><!--{$vo}--></td>
										</tr>
										</volist>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>