			<div class="innerLR">
				<div class="widget">
					<input type="hidden" id="global_order_id" value="<!--{$vo.id}-->"/>
					<div class="widget-head"><h4 class="heading"><if condition="!empty($vo['prefix'])"><!--{$vo.prefix}-->-</if><!--{$vo.order_id}--></h4>
				</div>
				<div class="widget-body">
					<div class="row-fluid">
						<div>
							<include file="Public:detail_product_tools" />
							<table width="100%" class="table table-striped table-bordered table-condensed dataTable">
								<tr>
									<td class="center" width="5%"><strong>序号</strong></td>
									<td width="25%"><strong>产品名</strong></td>
									<td width="10%"><strong>产品图片</strong></td>
									<td class="center"><strong>产品属性</strong></td>
									<if condition="in_array('view_order_price', $profile['permissions'])">
									<td class="center" width="8%"><strong>实际金额</strong></td>
									<td class="center" width="7%"><strong>优惠金额</strong></td>
									<td class="center" width="10%"><strong>总价格</strong></td>
									</if>
									<td class="center" width="5%"><strong>数量</strong></td>
									<td class="center" width="10%"><strong>编号</strong></td>
									<td class="center" width="5%"><strong>操作</strong></td>
								</tr>
								<volist name="vo.values.order_info.cart_items" id="v" key="j">
								<tr data-product-id="<!--{$v.product_id}-->">
									<td class="center" valign="middle"><!--{$j}-->.</td>
									<td class="product_name"><a href="<!--{$v.product_url}-->" target="_blank"><!--{$v.product_name}--></a></td>
									<td class="product_image">
									<notempty name="v.product_image">
										<if condition="strpos($v['product_image'], 'http') heq false">
										<img width="150" src="http://<!--{$vo.values.domain}--><!--{$v.product_image}-->">
										<else/>
										<img width="150" src="<!--{$v.product_image}-->">
										</if>
									<else/>无图像
									</notempty>
									</td>
									<td class="product_options center">
										<notempty name="v.product_options_info">
										<?php 
										if (is_array($v['product_options_info'])) {
											$options = array();
											foreach ($v['product_options_info'] as $value) {
												foreach ($value as $op_k => $op_v) {
													$options[] = $op_k . '：' . $op_v;
												}
											}
											echo join('<br/>', $options);
										} else {
											echo $v['product_options_info'];
										}
										?>
										<else/>
										无
										</notempty>
									</td>
									<if condition="in_array('view_order_price', $profile['permissions'])">
									<td class="center">¥<!--{$v.unit_price|number_format}--></td>
									<td class="center">¥<!--{$v.discount|number_format}--></td>
									<td class="center">¥<notempty name="v.total_price"><!--{$v.total_price|number_format}--><else/><?php echo number_format($v['unit_price'] * $v['quantity']);?></notempty></td>
									</if>
									<td class="product_qty center"><!--{$v.quantity}--></td>
									<td class="center"><!--{$v.sku}--></td>
									<td class="center">
										<if condition="in_array('modify_order_products', $profile['permissions'])">
										<a href="javascript:;" class="modify_product">修改</a><br><br>
										</if>
										<if condition="in_array('delete_order_products', $profile['permissions'])">
										<a href="javascript:;" class="delete_product">删除</a>
										</if>
									</td>
								</tr>
								</volist>
							</table>
							<div class="separator bottom"></div>
							<table class="table table-striped table-bordered table-condensed">
								<tr>
									<td><u>姓名</u>：</td>
									<td><strong><!--{$vo.first_name}--> <!--{$vo.last_name}--></strong></td>
								</tr>
								<tr>
									<td><u>邮箱</u>：</td>
									<td><strong><a href="mailto:<!--{$vo.values.user_info.9}-->" target="_blank"><!--{$vo.values.user_info.9}--></a></strong></td>
								</tr>
								<tr>
									<td><u>地址</u>：</td>
									<td>
										<strong><!--{$vo.first_name}--> <!--{$vo.last_name}--></strong><br/>
										<strong><!--{$vo.values.user_info.4}--> <!--{$vo.values.user_info.5}--></strong><br/>
										<strong><!--{$vo.values.user_info.6}-->, <!--{$vo.values.user_info.8}--></strong><br/>
										<strong><!--{$vo.values.user_info.7.0}--></strong><br/>
										<strong>T: <!--{$vo.values.user_info.18}--></strong><br/>
									</td>
								</tr>
								<tr>
									<td><u>IP地址</u>：</td>
									<td><a href="http://<!--{$vo.ip}-->.ipaddress.com/#ipinfo" target="_blank"><strong><!--{$vo.ip}--></strong></a></td>
								</tr>
							</table>
							<div class="separator bottom"></div>
							<table width="100%" class="table table-bordered table-condensed">
								<tr>
									<td width="10%" class="first_filed">来源</td>
									<td width="90%" class="second_filed"><!--{$vo.values.domain}--></td>
								</tr>
								<tr>
									<td class="first_filed">订单号</td>
									<td class="second_filed"><if condition="!empty($vo['prefix'])"><!--{$vo.prefix}-->-</if><!--{$vo.values.order_info.order_id}--></td>
								</tr>
								<tr>
									<td class="first_filed">订单状态</td>
									<td class="second_filed">
										<div class="btn-group">
											<if condition="in_array('change_order_status', $profile['permissions'])">
											<a class="btn <!--{$vo.order_status_btn_class}--> dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
											<!--{$vo.order_status}-->
											<span class="caret"></span></a>
											<ul class="dropdown-menu order_data" data-order-numid="<if condition="!empty($vo['prefix'])"><!--{$vo.prefix}-->-</if><!--{$vo.order_id}-->" data-order-id="<!--{$vo.id}-->" data-price="<!--{$vo.prices|number_format}-->" data-domain="<!--{$vo.domain}-->" data-smtp="<!--{$vo.smtp}-->" data-account-name="<!--{$vo.account_name}-->" data-username="<!--{$vo.first_name}--> <!--{$vo.last_name}-->" data-email="<!--{$vo.email}-->" data-date="<!--{$vo.timestamp|date='Y-m-d H:i:s', ###}-->" data-press="<!--{$vo.press}-->">
												<li><a href="javascript:;" class="change_status_link" data-status="O">已下单</a></li>
												<li><a href="javascript:;" class="change_status_link" data-status="Q">已确认</a></li>
												<li><a href="javascript:;" class="change_status_link" data-status="C">已付款</a></li>
												<li><a href="javascript:;" class="change_status_link" data-status="ready">待发货</a></li>
												<li><a href="javascript:;" class="change_status_link" data-status="wait">等货</a></li>
												<li><a href="javascript:;" class="change_status_link" data-status="stockout">缺货</a></li>
												<li><a href="javascript:;" class="change_status_link" data-status="P">已发货</a></li>
												<li><a href="javascript:;" class="change_status_link" data-status="I">已取消</a></li>
												<li><a href="javascript:;" class="change_status_link" data-status="T">已退款</a></li>
											</ul>
											<else/>
											<span class="label <!--{$vo.order_status_label_class}-->"><!--{$vo.order_status}--></span>
											</if>
										</div>&nbsp;&nbsp;&nbsp;&nbsp;
										<if condition="$vo['customs_hold'] eq 1">
											<span class="label btn-inverse">已被扣关</span>
										</if>
									</td>
								</tr>
								<tr>
									<td class="first_filed">催款</td>
									<td class="second_filed">
										<if condition="$vo.press eq 0">
											<span class="label label-default">0</span>
										<else/>
											<span class="label label-success"><!--{$vo.press}--></span>
										</if>
										<if condition="in_array('send_press_mail', $profile['permissions'])">
											<if condition="$vo['order_status'] eq '已确认'">
											&nbsp;&nbsp;<a href="javascript:;" class="change_status_link" data-status="press">发送催款邮件</a>
											</if>
										</if>
									</td>
								</tr>
								<tr>
									<td class="first_filed">客服备注</td>
									<td class="second_filed">
										<notempty name="order_remark">
										<table class="table table-striped table-bordered table-condensed">
											<tr>
												<td><strong>备注日期</strong></td>
												<td><strong>备注内容</strong></td>
												<td><strong>提醒</strong></td>
												<td><strong>提醒日期</strong></td>
											</tr>
											<volist name="order_remark" id="v">
											<if condition="$i eq 1">
											<tr class="text-error">
												<td width="20%"><strong><!--{$v.pubdate}--></strong></td>
												<td width="60%"><strong><!--{$v.remark}--></strong></td>
												<td width="5%"><strong><empty name="v.beeptimer"><span class="label">否</span><else/><span class="label label-important">是</span></empty></strong></td>
												<td width="15%"><strong><!--{$v.beeptimer_date}--></strong></td>
											</tr>
											<else/>
											<tr>
												<td width="20%"><!--{$v.pubdate}--></td>
												<td width="60%"><!--{$v.remark}--></td>
												<td width="5%"><empty name="v.beeptimer"><span class="label">否</span><else/><span class="label label-important">是</span></empty></td>
												<td width="15%"><!--{$v.beeptimer_date}--></td>
											</tr>
											</if>
											</volist>
										</table>
										</notempty>
										<a href="javascript:;" data-order-id="<!--{$vo.id}-->" class="glyphicons edit publish_remark" style="padding-left:25px;color:#47759e"><i></i>写备注</a>
									</td>
								</tr>
								<tr>
									<td class="first_filed">下单日期</td>
									<td class="second_filed"><!--{$vo.timestamp|date='Y-m-d H:i:s', ###}--></td>
								</tr>
								<if condition="in_array('view_order_price', $profile['permissions'])">
								<tr>
									<td class="first_filed">总金额(含运费)</td>
									<td class="second_filed"><strong>¥<!--{$vo.values.order_info.total_price|number_format}--></strong></td>
								</tr>
								<tr>
									<td class="first_filed">运费金额</td>
									<td class="second_filed"><strong>¥<!--{$vo.values.order_info.base_shipping|number_format}--></strong></td>
								</tr>
								<tr>
									<td class="first_filed">优惠总金额</td>
									<td class="second_filed"><strong>¥<!--{$vo.values.cart.discount|number_format}--></strong></td>
								</tr>
								</if>
								<tr>
									<td class="first_filed">支付方式</td>
									<td class="second_filed">Manual Payment</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<include file="Public:change_order_status" />
			<include file="Public:publish_remark" />
			<include file="Public:operate_product" />