				<div id="change_order_status_modal" class="modal hide fade">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 class="heading">更改订单状态</h3>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="span5">
								<p><strong>订单详情</strong></p>
								<p>
									<table class="table order_info">
										<tr>
											<td>订单号</td>
											<td class="oi_order_id">&nbsp;</td>
										</tr>
										<tr>
											<td>姓名</td>
											<td class="oi_username">&nbsp;</td>
										</tr>
										<tr>
											<td>网站</td>
											<td class="oi_website">&nbsp;</td>
										</tr>
										<tr>
											<td>金额</td>
											<td class="oi_price">&nbsp;</td>
										</tr>
										<tr>
											<td>邮箱</td>
											<td class="oi_email">&nbsp;</td>
										</tr>
										<tr>
											<td>邮箱检查</td>
											<td class="oi_message">&nbsp;</td>
										</tr>
										<tr>
											<td>状态</td>
											<td class="oi_status">&nbsp;</td>
										</tr>
										<tr>
											<td>时间</td>
											<td class="oi_date">&nbsp;</td>
										</tr>
									</table>
								</p>
							</div>
							<div class="span7">
								<p><span class="text-error">动作：<span class="action-text"></span></span> &nbsp;</p>
								<p class="ems_number_wrap">EMS号：</p>
								<p class="ems_number_wrap"><input type="text" class="ems_number lg" placeholder="EMS号写在这里，多个用英文空格隔开。邮件正文的星号无需更改，程序自动替换，否则会出错"></p>
								<p>邮件标题：</p>
								<p><input type="text" class="mail_title lg" placeholder="这里填写邮件标题"></p>
								<p>邮件内容：</p>
								<p><textarea class="mail_content lg" placeholder="系统发送给客户的邮件内容"></textarea></p>
								<p>备注：</p>
								<p><textarea class="change_status_remark lg" placeholder="备注，为本次状态更改登记描述（非必填）"></textarea></p>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<span class="change_status_message"></span>
						<button class="btn btn-primary" id="change_status_affirm" data-order-id="0" data-order-status="">确认更改</button>
						<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
					</div>
				</div>
				<script type="text/javascript">
				$(function(){
					$("a.change_status_link").on("click", function() {
						if ($(this).parent('li').hasClass('disabled')) {
							return false;
						} else {
							var winwidth = $(window).width();
							var winheight = $(window).height();
							var status = $(this).attr('data-status');
							if ($(this).parents("ul.order_data").length > 0) {
								var order_data = $(this).parents("ul.order_data");
							} else {
								var order_data = $("ul.order_data");
							}
							var order_id = order_data.attr('data-order-id');
							var order_numid = order_data.attr('data-order-numid');
							var des_status = $(this).html();
							var src_status = order_data.siblings('a').text();
							var smtp_info = order_data.attr('data-smtp');
							var order_price = order_data.attr('data-price');
							var order_domain = order_data.attr('data-domain');
							var account_name = order_data.attr('data-account-name');
							var press_count = order_data.attr('data-press');
							var username = order_data.attr('data-username');
							var useremail = order_data.attr('data-email');
							var order_date = order_data.attr('data-date');
							var cosm = $("#change_order_status_modal");
							var table_order_info = cosm.find("table.order_info");
							var modalbody = cosm.find('div.modal-body');
							var mail_content = cosm.find('textarea.mail_content');
							var oi_message = table_order_info.find("td.oi_message");
							var not_send_mail_status = <!--{$not_send_mail_status}-->;
							cosm.find('input.mail_title').attr("disabled", false).val("");
							cosm.find('textarea.mail_content').attr("disabled", false).val("");
							$('#change_status_affirm').attr("disabled", true);
							cosm.css({"width":winwidth * 0.96, "margin-left":-(winwidth * 0.48), "max-height":winheight * 0.95, "top":winheight * 0.03, "height":winheight * 0.95});
							modalbody.height(winheight * 0.95);
							if (des_status == '已发货') {
								mail_content.height(winheight * 0.32);
							} else {
								mail_content.height(winheight * 0.4);
							}
							
							table_order_info.find("td.oi_order_id").html(order_numid);
							table_order_info.find("td.oi_username").html(username);
							table_order_info.find("td.oi_website").html(order_domain);
							table_order_info.find("td.oi_price").html("¥"+order_price);
							table_order_info.find("td.oi_email").html("<input type='text' name='useremail' class='input_oi_email' value='"+useremail+"'>");
							table_order_info.find("td.oi_status").html(src_status);
							table_order_info.find("td.oi_date").html(order_date);

							if (not_send_mail_status.indexOf(des_status) == -1) {
								oi_message.html("正在检查电子邮箱有效性... <img src='/theme/images/loading.gif' width='18'>");
							}

							if (not_send_mail_status.indexOf(des_status) == -1 && smtp_info != '1') {
								if (modalbody.find('.smtp-error').length > 0) {
									modalbody.find('.smtp-error').html('警告！网站未设置SMTP邮件服务，无法更改订单状态。<a href="/website">到网站页面设置SMTP');
								} else {
									modalbody.prepend('<div class="alert alert-error smtp-error">警告！网站未设置SMTP邮件服务，无法更改订单状态。<a href="/website">到网站页面设置SMTP</a>。</div>');
								}
								cosm.find('#change_status_affirm').attr("disabled", true);
							} else {
								modalbody.find('.smtp-error').remove();

								if (modalbody.find('.load_mail_temp').length > 0) {
									modalbody.find('.load_mail_temp').html('正在加载邮件模版...');
								} else {
									modalbody.prepend('<div class="alert load_mail_temp">正在加载邮件模版...</div>');
								}

								if (not_send_mail_status.indexOf(des_status) == -1) {
									$.ajax({
										url: '/ajax/get_mail_temp', type: 'GET', dataType: 'json',
										data: {order_id: order_id, des_status:des_status, account_name:account_name},
										success:function(result){
											console.log(not_send_mail_status.indexOf(des_status));
											if (not_send_mail_status.indexOf(des_status) == -1) {
												modify_validate_message(result);
											};
											if (result.status == 200) {
												cosm.find('input.mail_title').val(result.mail_title);
												mail_content.val(result.mail_content);
												modalbody.find('.load_mail_temp').remove();

												if (des_status == '已发货') {
													$(".ems_number_wrap").show();
												} else {
													$(".ems_number_wrap").hide();
												}
											} else {
												cosm.find('input.mail_title').val('');
												mail_content.val('');
												cosm.find('div.modal-body').find('.load_mail_temp').html(result.info);
											}
											cosm.find('#change_status_affirm').attr("disabled", false);
										}
									});
								} else {
									$("input.input_oi_email").attr('disabled', true).val("此状态无需发邮件");
									modalbody.find('.load_mail_temp').remove();
									cosm.find('input.mail_title').attr('disabled', true).val("此状态无需发邮件");
									cosm.find('textarea.mail_content').attr('disabled', true).val("此状态无需发邮件");
									cosm.find('#change_status_affirm').attr("disabled", false);
									table_order_info.find("td.oi_message").html("此状态无需发邮件");
								}
							}

							// cosm.find('em.src_status').html(src_status);
							// cosm.find('em.des_status').html(des_status);
							if (status != "press") {
								cosm.find('span.action-text').html('<strong>【<em>'+src_status+'</em>】</strong> 更改为 <strong>【<em>'+des_status+'</em>】</strong>');
							} else {
								press_count++;
								cosm.find('span.action-text').html('发送第&nbsp;<strong><em>'+press_count+'</em></strong>&nbsp;次催款邮件');
							}

							cosm.find('#change_status_affirm').attr({
								"data-order-id": order_id,
								"data-order-status": status
							});
							cosm.find('input.mail_title').attr('data-account-name', account_name);
							cosm.modal();
						}
					});

					$("input.input_oi_email").on("change", function(event){
						var msg = "";
						var oi_message = $("#change_order_status_modal").find("table.order_info").find("td.oi_message");
						oi_message.html("正在检查电子邮箱有效性... <img src='/theme/images/loading.gif' width='18'>");
						$.ajax({
							url: '/ajax/validate_email', type: 'GET', dataType: 'json',
							data:{"email":$(this).val(), "return":false},
							success:function(result){
								if (result.status == 200) {
									modify_validate_message(result);
								};
							}
						});
					});

					$("#change_status_affirm").click(function(event) {
						var cosm = $("#change_order_status_modal");
						var remark = cosm.find('textarea.change_status_remark');
						var account_name = cosm.find('input.mail_title').attr('data-account-name');
						var mail_title = cosm.find('input.mail_title');
						var mail_content = cosm.find('textarea.mail_content');
						var message = cosm.find('.change_status_message');
						var order_status = $(this).attr('data-order-status');
						var order_id = $(this).attr('data-order-id');
						var ems_number = cosm.find("input.ems_number").val();
						var input_oi_email = "";
						if ($(".input_oi_email").attr("disabled") != true) {
							input_oi_email = $(".input_oi_email").val();
						};

						if (order_status == 'P' && ems_number == '') {
							alert("请输入EMS号。");
							cosm.find("input.ems_number").focus();
							return false;
						};

						$(this).attr('disabled', true).html('正在执行...');

						$.post('/ajax/change_order_status', {"order_id":order_id, "order_status":order_status, "account_name":account_name, "mail_title":mail_title.val(), "mail_content":mail_content.val(), "remark":remark.val(), "ems_number":ems_number, "input_oi_email":input_oi_email}, function(data) {
							if (data.status == 200) {
								message.attr('class', 'change_status_message text-success').html('<strong>操作成功！</strong>订单状态已经更改。').show();
								setTimeout(function(){
									window.location.reload();
								}, 500);
							} else {
								$(this).attr('disabled', false).html('确认更改');
								message.attr('class', 'change_status_message text-error').html('<strong>操作失败！</strong>遇到致命错误，请刷新页面重试。' + data.info).show();
							}
						}, 'json');
					});
				});

				function modify_validate_message(result) {
					var msg = "";
					var mgve = result.mg_validate_email;
					var oi_message = $("#change_order_status_modal").find("table.order_info").find("td.oi_message");
					if (mgve.http_response_code == 200) {
						var hrb = mgve.http_response_body;
						if (hrb.is_valid == true) {
							msg = "<span class='label label-success'>邮箱格式检查通过！</span>";
							$("input.input_oi_email").attr("disabled", true);
						} else {
							msg = "<span class='label label-important'>邮件地址有误，请手动填写或电话联系！</span>";
						}
						if (hrb.did_you_mean != null) {
							msg += "<br>推荐地址："+hrb.did_you_mean;
						}
						if (hrb.parts.display_name != null) {
							msg += "<br>Display Name:"+hrb.parts.display_name;
						};
						if (hrb.parts.domain != null) {
							msg += "<br>运营商:"+hrb.parts.domain;
						};
						if (hrb.parts.local_part != null) {
							msg += "<br>邮箱名:"+hrb.parts.local_part;
						};
					} else {
						msg = "<span class='label label-warning'>邮箱地址检查失败！</span>";
					}
					oi_message.html(msg);
				}
				</script>