							<style type="text/css">
							.popover-title,.popover-content{text-align: left}
							</style>
							<?php
							$toptic = "<ul><li><a href='?'>查看最新数据</a></li>"; 
							foreach ($order_history as $value) {
								$times = strtotime($value['pubdate']);
								if ($value['pubdate'] == $history_pubdate) {
									$toptic .= "<li><strong>于 <a href='?history={$times}'>{$value['pubdate']}</a> 被修改</strong></li>";
								} else {
									$toptic .= "<li>于 <a href='?history={$times}'>{$value['pubdate']}</a> 被修改</li>";
								}
							}
							$toptic .= "</ul>";
							?>
							<a href="javascript:;" class="add_product">添加产品</a>&nbsp;
							<a href="javascript:;" class="history_panel_popover" data-toggle="popover" data-content="<!--{$toptic}-->" data-original-title="查看历史记录">查看历史记录</a>
							<script type="text/javascript">
							$(function(){
								$(".history_panel_popover").popover({html:true,});
							});
							</script>