	<div class="navbar main">
		<a href="/" class="appbrand"><span><!--{$app_name}--></span></a>
		<button type="button" class="btn btn-navbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<ul class="topnav pull-right">
			<if condition="in_array('view_order_archive', $profile['permissions'])">
			<li><a href="/order/prints" class="glyphicons calendar" target="_blank"><i></i><span class="hidden-phone">发货归档</span></a></li>
			</if>
			<li><a href="/order/search/?order_status=stockout" class="glyphicons circle_remove"><i></i><span class="hidden-phone">缺货</span>(<!--{$stockout}-->)</a></li>
			<li><a href="/order/customs_hold" class="glyphicons skull"><i></i><span class="hidden-phone">海关扣押</span>(<!--{$customs_hold}-->)</a></li>
			<li><a href="/mail/lists?status=failure" class="glyphicons message_ban"><i></i><span class="hidden-phone">失败邮件</span>(<!--{$failure_mail}-->)</a></li>
			<li><a href="/order/beeptimer" class="glyphicons alarm"><i></i><span class="hidden-phone">定时提醒</span>(<!--{$beeptimer}-->)</a></li>
			<if condition="in_array('advanced_search', $profile['permissions'])">
			<li class="dropdown visible-desktop">
				<a href="" data-toggle="dropdown" class="glyphicons search"><i></i>订单搜索 <span class="caret"></span></a>
				<div class="dropdown-menu advanced-search">
					<form class="form-horizontal" id="validateSubmitForm" method="POST" action="/order/search/">
						<div class="control-group">
							<label class="control-label" for="email">邮箱</label>
							<div class="controls"><input placeholder="account@example.com" id="email" name="email" type="text" value="<notempty name='search_condition.email'><!--{$search_condition.email}--></notempty>"></div>
						</div>
						<div class="control-group">
							<label class="control-label" for="uname">姓名</label>
							<div class="controls">
								<input placeholder="姓名" id="uname" name="uname" type="text" value="<notempty name='search_condition.uname'><!--{$search_condition.uname}--></notempty>">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="address">地址</label>
							<div class="controls">
								<input placeholder="客户地址" id="address" name="address" type="text" value="<notempty name='search_condition.address'><!--{$search_condition.address}--></notempty>">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="project_name">产品</label>
							<div class="controls">
								<input placeholder="产品名称" id="project_name" name="project_name" type="text" value="<notempty name='search_condition.project_name'><!--{$search_condition.project_name}--></notempty>">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="order_id">订单号</label>
							<div class="controls"><input placeholder="订单号，不带前缀" id="order_id" name="order_id" value="<notempty name='search_condition.order_id'><!--{$search_condition.order_id}--></notempty>" type="text"></div>
						</div>
						<div class="control-group">
							<label class="control-label" for="order_status">订单状态</label>
							<div class="controls">
								<select id="order_status" name="order_status">
									<option value="">全部订单状态</option>
									<option value="O" <if condition="!empty($search_condition['order_status']) AND $search_condition['order_status'] eq 'O'">selected="selected"</if>>已下单</option>
									<option value="Q" <if condition="!empty($search_condition['order_status']) AND $search_condition['order_status'] eq 'Q'">selected="selected"</if>>已确认</option>
									<option value="C" <if condition="!empty($search_condition['order_status']) AND $search_condition['order_status'] eq 'C'">selected="selected"</if>>已付款</option>
									<option value="ready" <if condition="!empty($search_condition['order_status']) AND $search_condition['order_status'] eq 'ready'">selected="selected"</if>>待发货</option>
									<option value="wait" <if condition="!empty($search_condition['order_status']) AND $search_condition['order_status'] eq 'wait'">selected="selected"</if>>等货</option>
									<option value="stockout" <if condition="!empty($search_condition['order_status']) AND $search_condition['order_status'] eq 'stockout'">selected="selected"</if>>缺货</option>
									<option value="P" <if condition="!empty($search_condition['order_status']) AND $search_condition['order_status'] eq 'P'">selected="selected"</if>>已发货</option>
									<option value="I" <if condition="!empty($search_condition['order_status']) AND $search_condition['order_status'] eq 'I'">selected="selected"</if>>已取消</option>
									<option value="T" <if condition="!empty($search_condition['order_status']) AND $search_condition['order_status'] eq 'T'">selected="selected"</if>>已退款</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="include_kf_remark">客服备注</label>
							<div class="controls"><input type="checkbox" id="include_kf_remark" name="remark" value="1" <if condition="!empty($search_condition['remark'])">checked="checked"</if>></div>
						</div>
						<if condition="in_array('view_order_price', $profile['permissions'])">
						<div class="control-group">
							<label class="control-label" for="prices">订单金额</label>
							<div class="controls"><input placeholder="5000，或者1000-5000" id="prices" name="prices" type="text" value="<notempty name='search_condition.display_prices'><!--{$search_condition.display_prices}--></notempty>"></div>
						</div>
						</if>
						<div class="control-group">
							<label class="control-label" for="cid">网站分类</label>
							<div class="controls">
								<select name="cid">
									<option value="">选择全部分类</option>
									<volist name="webcate" id="wc">
									<option value="<!--{$wc.cid}-->" <if condition="!empty($search_condition['cid']) AND $wc['cid'] eq $search_condition['cid']">selected="selected"</if>><!--{$wc.cate_name}--></option>
									</volist>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="wid">网站</label>
							<div class="controls">
								<select name="wid">
									<option value="">选择全部网站</option>
									<volist name="website" id="ws">
									<optgroup label="<!--{$key}-->">
										<volist name="ws" id="v">
										<option value="<!--{$v.id}-->" <if condition="!empty($search_condition['wid']) AND $v['id'] eq $search_condition['wid']">selected="selected"</if>><notempty name="v.prefix"><!--{$v.prefix}--> -&nbsp;</notempty><!--{$v.weburl}--></option>
										</volist>
									</optgroup>
									</volist>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="shipping_method">物流方式</label>
							<div class="controls">
								<select name="shipping_method">
									<option value="">选择全部物流</option>
									<option value="EMS" <if condition="!empty($search_condition['shipping_method']) AND 'EMS' eq $search_condition['shipping_method']">selected="selected"</if>>EMS</option>
									<option value="DHL" <if condition="!empty($search_condition['shipping_method']) AND 'DHL' eq $search_condition['shipping_method']">selected="selected"</if>>DHL</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="ip">IP</label>
							<div class="controls"><input placeholder="IP地址，例：127.0.0.1" id="ip" name="ip" type="text" value="<notempty name='search_condition.ip'><!--{$search_condition.ip}--></notempty>"></div>
						</div>
						<div class="control-group">
							<label class="control-label" for="first_name">日期</label>
							<div class="controls">
								<input class="input-small" placeholder="开始日期" id="start_date" name="start_date" type="text" value="<notempty name='search_condition.start_date'><!--{$search_condition.start_date|date='Y-m-d',###}--></notempty>" /> &nbsp;
								<input class="input-small" placeholder="结束日期" id="end_date" name="end_date" type="text" value="<notempty name='search_condition.end_date'><!--{$search_condition.end_date|date='Y-m-d',###}--></notempty>"/>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn btn-primary">走你</button>
							</div>
						</div>
					</form>
				</div>
			</li>
			</if>
			<li class="account"> <a data-toggle="dropdown" href="javascript:void(0);" class="glyphicons logout lock"><span class="hidden-phone text"><!--{$username}--></span><i></i></a>
				<ul class="dropdown-menu pull-right">
					<li><a href="javascript:void(0);" class="glyphicons cogwheel">Settings<i></i></a></li>
					<li class="highlight profile"> <span> <span class="heading">Profile <a href="javascript:void(0);" class="pull-right">edit</a></span> <span class="img"></span> <span class="details"> <a href="javascript:void(0);"><!--{$username}--></a> contact@mosaicpro.biz </span> <span class="clearfix"></span> </span> </li>
					<li> <span> <a class="btn btn-default btn-small pull-right" style="padding: 2px 10px; background: #fff;" href="/account/logout">退出登录</a> </span> </li>
				</ul>
			</li>
		</ul>
	</div>