		<div id="menu" class="hidden-phone"> <span class="profile"> <a class="img" href="javascript:void(0);"><img src="/theme/images/photo.gif" alt="<!--{$username}-->" /></a> <span> <strong><!--{$username}--></strong> <a href="javascript:void(0);">edit account</a> </span> </span>
			<div id="search">
				<input type="text" placeholder="Quick search ..." />
				<button class="glyphicons search"><i></i></button>
			</div>
			<ul>
			<if condition="in_array('view_orders', $profile['permissions'])">
				<li class="glyphicons home <if condition='$menu eq "home"'>active</if>"> <a href="/"><i></i><span>首页</span></a></li>
			</if>
			<if condition="in_array('view_orders', $profile['permissions'])">
				<li class="glyphicons list <if condition='$menu eq "orders"'>active</if>"> <a href="/order/lists"><i></i><span>订单列表</span></a></li>
			</if>
			<if condition="in_array('view_orders_analysis', $profile['permissions'])">
				<li class="glyphicons charts <if condition='$menu eq "analysis"'>active</if>"> <a href="/order/analysis"><i></i><span>订单分析</span></a></li>
			</if>
			<if condition="in_array('view_mail_list', $profile['permissions'])">
				<li class="glyphicons message_out <if condition='$menu eq "mail"'>active</if>"> <a href="/mail/lists"><i></i><span>发件箱</span></a></li>
			</if>
			<if condition="in_array('view_mail_in', $profile['permissions'])">
				<li class="glyphicons message_in <if condition='$menu eq "inbox"'>active</if>">
					<a href="/mail/inbox"><i></i><span>收件箱</span></a>
					<span class="count"><!--{$inbox_count}--></span>
				</li>
			</if>
			<if condition="in_array('view_user_analysis', $profile['permissions'])">
				<li class="glyphicons parents <if condition='$menu eq "user_analysis"'>active</if>"> <a href="/order/user_analysis"><i></i><span>用户分析</span></a></li>
			</if>
			<if condition="in_array('view_website', $profile['permissions'])">
				<li class="glyphicons paperclip <if condition='$menu eq "website"'>active</if>"> <a href="/website"><i></i><span>网站接入</span></a></li>
			</if>
			<if condition="in_array('view_webcate', $profile['permissions'])">
				<li class="glyphicons show_big_thumbnails <if condition='$menu eq "webcate"'>active</if>"> <a href="/website/category"><i></i><span>网站分类</span></a></li>
			</if>
			<if condition="in_array('view_account_list', $profile['permissions'])">
				<li class="glyphicons user <if condition='$menu eq "account"'>active</if>"> <a href="/account"><i></i><span>账号管理</span></a></li>
			</if>
			<if condition="in_array('view_recycle', $profile['permissions'])">
				<li class="glyphicons bin <if condition='$menu eq "recycle"'>active</if>"> <a href="<!--{:get_url('order_recycle')}-->"><i></i><span>回收站</span></a></li>
			</if>
			</ul>
			<div class="clearfix" style="clear: both"></div>
		</div>