				<div id="add_product" class="modal hide fade lg-modal">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 class="heading">添加产品</h3>
					</div>
					<div class="modal-body">
						<table class="table">
							<tr>
								<td width="20%">标题：</td>
								<td><input type="text" class="product_title span5" placeholder="填写商品标题"></td>
							</tr>
							<tr>
								<td>图片地址：</td>
								<td><input type="text" class="product_image span5" placeholder="填写图片地址"></td>
							</tr>
							<tr>
								<td>属性：</td>
								<td><textarea class="product_options span5" placeholder="填写商品属性"></textarea></td>
							</tr>
							<tr>
								<td>实际金额：</td>
								<td><input type="text" class="product_sjje span5" placeholder="填写商品实际金额"></td>
							</tr>
							<tr>
								<td>优惠金额：</td>
								<td><input type="text" class="product_yhje span5" placeholder="填写商品优惠金额"></td>
							</tr>
							<tr>
								<td>数量：</td>
								<td><input type="text" class="product_qty span5" placeholder="填写商品数量"></td>
							</tr>
							<tr>
								<td>编号：</td>
								<td><input type="text" class="product_bh span5" placeholder="填写商品编号"></td>
							</tr>
						</table>
					</div>
					<div class="modal-footer">
						<span class="message"></span>
						<button class="btn btn-primary" id="add_product_affirm">确定添加</button>
						<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
					</div>
				</div>
				<div id="modify_product" class="modal hide fade lg-modal">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 class="heading">修改产品</h3>
					</div>
					<div class="modal-body">
						<table class="table">
							<tr>
								<td width="20%">标题：</td>
								<td class="product_name text-error"></td>
							</tr>
							<tr>
								<td>图片地址：</td>
								<td><input type="text" class="product_image span5"></td>
							</tr>
							<tr>
								<td>属性：</td>
								<td><textarea class="product_options span5"></textarea></td>
							</tr>
							<tr>
								<td>数量：</td>
								<td><input type="text" class="product_qty span5"></td>
							</tr>
						</table>
					</div>
					<div class="modal-footer">
						<span class="message"></span>
						<button class="btn btn-primary" id="modify_product_affirm">确定修改</button>
						<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
					</div>
				</div>
				<div id="delete_product" class="modal hide fade">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 class="heading">删除产品</h3>
					</div>
					<div class="modal-body">
						<p>你确定要删除此产品咩？</p>
					</div>
					<div class="modal-footer">
						<button class="btn" id="delete_product_affirm">确定删除，并保证3天不后悔</button>
						<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
					</div>
				</div>
				<script type="text/javascript">
				$(function(){
					var add_product_affirm = $("#add_product_affirm");
					var modify_product_affirm = $("#modify_product_affirm");
					var add_product_modal = $('#add_product');
					var modify_product_modal = $('#modify_product');

					$("a.add_product").bind("click", function(){
						add_product_modal.modal("show");
					});

					add_product_affirm.bind("click", function() {
						$(this).attr('disabled', true);
						var mbody = add_product_modal.find('.modal-body');
						var global_order_id = $("#global_order_id").val();
						var product_title = mbody.find('.product_title').val();
						var product_image = mbody.find('.product_image').val();
						var product_options = mbody.find('.product_options').val();
						var product_sjje = mbody.find('.product_sjje').val();
						var product_yhje = mbody.find('.product_yhje').val();
						var product_qty = mbody.find('.product_qty').val();
						var product_bh = mbody.find('.product_bh').val();
						var mbody = $('#delete_product').find('.modal-body');
						$.post('/ajax/add_product',{product_title:product_title,product_image:product_image,product_options:product_options,product_qty:product_qty,order_id: global_order_id,product_sjje:product_sjje,product_yhje:product_yhje,product_bh:product_bh},function(resdata) {
							if (resdata.status == 200) {
								add_product_modal.find('.message').attr('class', 'message text-success').html('添加成功！');
								setTimeout(function() {
									window.location.reload();
								}, 500);
							} else {
								add_product_affirm.attr('disabled', false);
								add_product_modal.find('.message').attr('class', 'message text-error').html('遇到错误：' + resdata.info);
								if (resdata.status == 104) {
									setTimeout(function() {
										window.location.href="/";
									}, 2000);
								};
							}
						}, 'json');
					});

					$("a.modify_product").bind("click", function(){
						modify_product_modal.modal('show');
						var product_id = $(this).parents("tr").attr('data-product-id');
						var mbody = modify_product_modal.find('.modal-body');
						var product_name = $(this).parent().siblings('.product_name').find('a').html();
						var product_options = $(this).parent().siblings('.product_options').html();

						product_options = product_options.replace(/\n/g, "");
						product_options = product_options.trim();
						product_options = product_options.replace(/<br>/g, "\n");

						mbody.find('.product_name').html(product_name);
						mbody.find('.product_image').val($(this).parent().siblings('.product_image').find('img').attr('src'));
						mbody.find('.product_options').html(product_options);
						mbody.find('.product_qty').val($(this).parent().siblings('.product_qty').html());
						modify_product_affirm.attr('data-product-id', product_id);
					});

					modify_product_affirm.bind("click", function() {
						$(this).attr('disabled', true);
						var mbody = modify_product_modal.find('.modal-body');
						var product_id = $(this).attr('data-product-id');
						var global_order_id = $("#global_order_id").val();
						var product_image = mbody.find('.product_image').val();
						var product_options = mbody.find('.product_options').val();
						var product_qty = mbody.find('.product_qty').val();
						var mbody = $('#delete_product').find('.modal-body');
						$.post('/ajax/modify_product',{product_id:product_id, product_image:product_image, product_options:product_options, product_qty:product_qty, order_id: global_order_id}, function(resdata) {
							if (resdata.status == 200) {
								modify_product_modal.find('.message').attr('class', 'message text-success').html('修改成功！');
								setTimeout(function() {
									window.location.reload();
								}, 500);
							} else {
								modify_product_affirm.attr('disabled', false);
								modify_product_modal.find('.message').attr('class', 'message text-error').html('遇到错误：' + resdata.info);
								if (resdata.status == 104) {
									setTimeout(function() {
										window.location.href="/";
									}, 2000);
								};
							}
						}, 'json');
					});

					$("a.delete_product").bind("click", function(){
						$("#delete_product").modal('show');
						var product_id = $(this).parents("tr").attr('data-product-id');
						var delete_product_affirm = $("#delete_product_affirm");
						var mbody = $('#delete_product').find('.modal-body');
						var product_name = $(this).parent().siblings('.product_name').find('a').html();

						mbody.html('<p>你确定要删除此产品咩？</p><p class="text-error"><strong>' + product_name + '</strong></p>');
						delete_product_affirm.attr('data-product-id', product_id);
					});

					$("#delete_product_affirm").bind("click", function() {
						$(this).attr('disabled', true);
						var product_id = $(this).attr('data-product-id');
						var global_order_id = $("#global_order_id").val();
						var mbody = $('#delete_product').find('.modal-body');
						mbody.html('正在删除请稍后......');
						$.post('/ajax/modify_product/delete_product',{product_id:product_id, order_id: global_order_id}, function(resdata){
							if (resdata.status == 200) {
								mbody.html("<span style='color:green'>删除成功！</span>");
								setTimeout(function(){
									window.location.reload();
								}, 500);
							} else {
								$("#delete_product_affirm").attr('disabled', false);
								mbody.html('删除遇到错误：<p style="color:red">'+resdata.info+'</p>');
								if (resdata.status == 104) {
									setTimeout(function(){
										window.location.href="/";
									},2000);
								};
							}
						}, 'json');
					});
				});
			</script>