				<div id="publish_remark_modal" class="modal hide fade">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 class="heading">撰写备注</h3>
					</div>
					<div class="modal-body">
						<input type="hidden" class="remark_order_id" value="">
						<p><textarea class="remark_content" style="width:95%" placeholder="备注内容"></textarea></p>
						<p><label class="checkbox"><input type="checkbox" class='beeptimer' name="beeptimer" value="yes"> 提醒催款？(以最后一次为准，之前设置的时间将被覆盖)</label></p>
						<div class="control-group">
							<div class="controls">
								<input class="span1 beeptimer_num" disabled type="text" value="0">
								<span class="help-inline">天后提醒：<span class="preview_beeptimer"><!--{:date('Y-m-d')}--></span></span>
							</div>
						</div>
						<p id="publish_remark_message"></p>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" id="publish_remark_affirm" data-order-id="0" autocomplete="off" data-order-status="">保存备注</button>
						<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
					</div>
				</div>
				<script type="text/javascript">
				Date.prototype.Format = function(fmt) {
					var o = {
						"M+" : this.getMonth()+1,
						"d+" : this.getDate(),
						"h+" : this.getHours(),
						"m+" : this.getMinutes(),
						"s+" : this.getSeconds(),
						"q+" : Math.floor((this.getMonth()+3)/3),
						"S"  : this.getMilliseconds()
					}; 
					if(/(y+)/.test(fmt)) 
						fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length)); 
					for(var k in o) {
						if(new RegExp("("+ k +")").test(fmt)) {
							fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
						}
					}
					return fmt; 
				}

				$(function(){
					var pr_message = $("#publish_remark_message");
					$("a.publish_remark").on("click", function() {
						var pprm = $("#publish_remark_modal");
						var order_id = $(this).attr('data-order-id');
						$("input.remark_order_id").val(order_id);
						pprm.modal();
					});

					$("input.beeptimer").on('change', function(event) {
						if ($(this).attr('checked') == 'checked') {
							$("input.beeptimer_num").attr('disabled', false).focus();
						} else {
							$("input.beeptimer_num").attr('disabled', true).val('0');
						}
					});

					$("input.beeptimer_num").on('change', function(event) {
						var beeptimer_num = $("input.beeptimer_num").val();
						if (!isNaN(beeptimer_num)) {
							var current = new Date();
							var des_date = new Date( ( current / 1000 + 86400 * beeptimer_num ) * 1000 );
							var des_format = des_date.Format("yyyy-MM-dd");
							pr_message.html("");
							$("span.preview_beeptimer").html(des_format);
						} else {
							pr_message.attr('class', '').addClass('text-error').html("错误：天数输入纯数字");
						}
					});

					$("#publish_remark_affirm").on('click', function(event) {
						var remark_content = $("textarea.remark_content").val();
						var beeptimer = $("input.beeptimer:checked").val();
						var beeptimer_num = $("input.beeptimer_num").val();
						var order_id = $("input.remark_order_id").val();
						var publish_remark_affirm = $(this);
						if (remark_content == '' || order_id == 0) {
							pr_message.attr('class', '').addClass('text-error').html("错误：备注内容或ID为空");
							return false;
						};
						publish_remark_affirm.attr('disabled', true);
						$.ajax({
							url: '/ajax/publish_order_remark', type: 'POST', dataType: 'json',
							data: {remark_content: remark_content, beeptimer: beeptimer, beeptimer_num: beeptimer_num, order_id: order_id},
						})
						.done(function(result) {
							if (result.status == 200) {
								pr_message.attr('class', '').addClass('text-success').html("成功：备注保存成功");
								$("textarea.remark_content").val('');
								$("input.beeptimer").attr('disabled', false);
								$("input.beeptimer_num, input.remark_order_id").val('0');
								window.location.reload();
							}
						})
						.fail(function() {
							publish_remark_affirm.attr('disabled', false);
							pr_message.attr('class', '').addClass('text-error').html("错误：备注保存失败");
						});
					});
				});
			</script>