			<style type="text/css">
			.accordion-heading .accordion-toggle{background-color: #fff;color:#47759e;}
			.accordion-heading .accordion-toggle:hover,.accordion-heading a.accordion_hover_header{background-color: #47759e;color:#fff;}
			</style>
			<div class="innerLR">
				<if condition="in_array('add_webcate', $profile['permissions'])">
				<h6><a href="javascript:;" class="add_webcate">添加分类</a></h6>
				</if>
				<table class="table table-striped table-bordered table-condensed dataTable">
					<thead>
						<tr role="row">
							<th width="10%">ID</th>
							<th width="70%">分类名称</th>
							<if condition="in_array('modify_webcate', $profile['permissions'])">
							<th wudth="20%">操作</th>
							</if>
						</tr>
					</thead>
					
					<tbody role="alert" aria-live="polite" aria-relevant="all">
						<volist name="webcates" id="vo">
						<tr class="gradeA odd">
							<td><!--{$vo.cid}-->.</td>
							<td><!--{$vo.cate_name}--></td>
							<if condition="in_array('modify_webcate', $profile['permissions'])">
							<td>
								<a href="javascript:;" class="modify_webcate" data-cid="<!--{$vo.cid}-->" data-catename="<!--{$vo.cate_name}-->">编辑分类</a> &nbsp;
								<a href="javascript:;">删除分类</a>
							</td>
							</if>
						</tr>
						</volist>
					</tbody>
				</table>
				<div class="separator top form-inline small">
					<div class="pagination pull-right" style="margin: 0;">
						<!--{$page}-->
					</div>
					<div class="clearfix"></div>
				</div>
				<div id="add_webcate" class="modal hide fade">
					<form class="form-horizontal" id="add_webcate_form" method="POST">
						<input type="hidden" id="cid" name="cid" value="0" />
						<div class="widget">
							<div class="widget-head"><h4 class="heading">添加分类</h4></div>
							<div class="widget-body">
								<div class="row-fluid">
									<div class="span12">
										<div class="control-group">
											<label class="control-label" for="cate_name">分类名称</label>
											<div class="controls"><input class="span12" id="cate_name" name="cate_name" type="text"></div>
										</div>
										<div id="accordion" class="accordion">
											<div class="accordion-group">
												<div class="accordion-heading">
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#mail1">
													【已确认】邮件模版
													</a>
												</div>
												<div id="mail1" class="accordion-body collapse">
													<div class="accordion-inner">
														<div class="control-group">
															<label class="control-label" for="q_mail_title">[<strong>已确认</strong>]邮件标题</label>
															<div class="controls"><input class="span12" id="q_mail_title" name="q_mail[title]" type="text" placeholder="[已确认]系统邮件标题"></div>
														</div>
														<div class="control-group">
															<label class="control-label" for="q_mail_content">[<strong>已确认</strong>]邮件内容</label>
															<div class="controls">
																<textarea class="span12 autosize" id="q_mail_content" name="q_mail[content]" placeholder="[已确认]系统邮件内容" style="height:150px"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="accordion-group">
												<div class="accordion-heading">
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#mail2">
													【已付款】邮件模版
													</a>
												</div>
												<div id="mail2" class="accordion-body collapse">
													<div class="accordion-inner">
														<div class="control-group">
															<label class="control-label" for="c_mail_title">[<strong>已付款</strong>]邮件标题</label>
															<div class="controls"><input class="span12" id="c_mail_title" name="c_mail[title]" type="text" placeholder="[已付款]系统邮件标题"></div>
														</div>
														<div class="control-group">
															<label class="control-label" for="c_mail_content">[<strong>已付款</strong>]邮件内容</label>
															<div class="controls">
																<textarea class="span12 autosize" id="c_mail_content" name="c_mail[content]" placeholder="[已付款]系统邮件内容" style="height:150px"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="accordion-group">
												<div class="accordion-heading">
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#mail3">
													【已发货】邮件模版
													</a>
												</div>
												<div id="mail3" class="accordion-body collapse">
													<div class="accordion-inner">
														<div class="control-group">
															<label class="control-label" for="p_mail_title">[<strong>已发货</strong>]邮件标题</label>
															<div class="controls"><input class="span12" id="p_mail_title" name="p_mail[title]" type="text" placeholder="[已发货]系统邮件标题"></div>
														</div>
														<div class="control-group">
															<label class="control-label" for="p_mail_content">[<strong>已发货</strong>]邮件内容</label>
															<div class="controls">
																<textarea class="span12 autosize" id="p_mail_content" name="p_mail[content]" placeholder="[已发货]系统邮件内容" style="height:150px"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="accordion-group">
												<div class="accordion-heading">
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#mail4">
													【已取消】邮件模版
													</a>
												</div>
												<div id="mail4" class="accordion-body collapse">
													<div class="accordion-inner">
														<div class="control-group">
															<label class="control-label" for="i_mail_title">[<strong>已取消</strong>]邮件标题</label>
															<div class="controls"><input class="span12" id="i_mail_title" name="i_mail[title]" type="text" placeholder="[已取消]系统邮件标题"></div>
														</div>
														<div class="control-group">
															<label class="control-label" for="i_mail_content">[<strong>已取消</strong>]邮件内容</label>
															<div class="controls">
																<textarea class="span12 autosize" id="i_mail_content" name="i_mail[content]" placeholder="[已取消]系统邮件内容" style="height:150px"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="accordion-group">
												<div class="accordion-heading">
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#mail5">
													【已退款】邮件模版
													</a>
												</div>
												<div id="mail5" class="accordion-body collapse">
													<div class="accordion-inner">
														<div class="control-group">
															<label class="control-label" for="t_mail_title">[<strong>已退款</strong>]邮件标题</label>
															<div class="controls"><input class="span12" id="t_mail_title" name="t_mail[title]" type="text" placeholder="[已退款]系统邮件标题"></div>
														</div>
														<div class="control-group">
															<label class="control-label" for="t_mail_content">[<strong>已退款</strong>]邮件内容</label>
															<div class="controls">
																<textarea class="span12 autosize" id="t_mail_content" name="t_mail[content]" placeholder="[已退款]系统邮件内容" style="height:150px"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- <div class="accordion-group">
												<div class="accordion-heading">
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#mail6">
													【扣关重发】邮件模版
													</a>
												</div>
												<div id="mail6" class="accordion-body collapse">
													<div class="accordion-inner">
														<div class="control-group">
															<label class="control-label" for="t_mail_title">[<strong>扣关重发</strong>]邮件标题</label>
															<div class="controls"><input class="span12" id="r_mail_title" name="r_mail[title]" type="text" placeholder="[扣关重发]系统邮件标题"></div>
														</div>
														<div class="control-group">
															<label class="control-label" for="r_mail_content">[<strong>扣关重发</strong>]邮件内容</label>
															<div class="controls">
																<textarea class="span12 autosize" id="r_mail_content" name="r_mail[content]" placeholder="[扣关重发]系统邮件内容" style="height:150px"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div> -->
											<div class="accordion-group">
												<div class="accordion-heading">
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#mail7">
													【催款】邮件模版
													</a>
												</div>
												<div id="mail7" class="accordion-body collapse">
													<div class="accordion-inner">
														<div class="control-group">
															<label class="control-label" for="press1_mail_title">[<strong>催款</strong>]邮件标题</label>
															<div class="controls"><input class="span12" id="press1_mail_title" name="press1_mail[title]" type="text" placeholder="[催款]系统邮件标题"></div>
														</div>
														<div class="control-group">
															<label class="control-label" for="press1_mail_content">[<strong>催款</strong>]邮件内容</label>
															<div class="controls">
																<textarea class="span12 autosize" id="press1_mail_content" name="press1_mail[content]" placeholder="[催款]系统邮件内容" style="height:150px"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- <div class="accordion-group">
												<div class="accordion-heading">
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#mail8">
													【催款2】邮件模版
													</a>
												</div>
												<div id="mail8" class="accordion-body collapse">
													<div class="accordion-inner">
														<div class="control-group">
															<label class="control-label" for="press2_mail_title">[<strong>催款2</strong>]邮件标题</label>
															<div class="controls"><input class="span12" id="press2_mail_title" name="press2_mail[title]" type="text" placeholder="[催款2]系统邮件标题"></div>
														</div>
														<div class="control-group">
															<label class="control-label" for="press2_mail_content">[<strong>催款2</strong>]邮件内容</label>
															<div class="controls">
																<textarea class="span12 autosize" id="press2_mail_content" name="press2_mail[content]" placeholder="[催款2]系统邮件内容" style="height:150px"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="accordion-group">
												<div class="accordion-heading">
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#mail9">
													【催款3】邮件模版
													</a>
												</div>
												<div id="mail9" class="accordion-body collapse">
													<div class="accordion-inner">
														<div class="control-group">
															<label class="control-label" for="press3_mail_title">[<strong>催款3</strong>]邮件标题</label>
															<div class="controls"><input class="span12" id="press3_mail_title" name="press3_mail[title]" type="text" placeholder="[催款3]系统邮件标题"></div>
														</div>
														<div class="control-group">
															<label class="control-label" for="press3_mail_content">[<strong>催款3</strong>]邮件内容</label>
															<div class="controls">
																<textarea class="span12 autosize" id="press3_mail_content" name="press3_mail[content]" placeholder="[催款3]系统邮件内容" style="height:150px"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="accordion-group">
												<div class="accordion-heading">
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#mail10">
													【催款4】邮件模版
													</a>
												</div>
												<div id="mail10" class="accordion-body collapse">
													<div class="accordion-inner">
														<div class="control-group">
															<label class="control-label" for="press4_mail_title">[<strong>催款4</strong>]邮件标题</label>
															<div class="controls"><input class="span12" id="press4_mail_title" name="press4_mail[title]" type="text" placeholder="[催款4]系统邮件标题"></div>
														</div>
														<div class="control-group">
															<label class="control-label" for="press4_mail_content">[<strong>催款4</strong>]邮件内容</label>
															<div class="controls">
																<textarea class="span12 autosize" id="press4_mail_content" name="press4_mail[content]" placeholder="[催款4]系统邮件内容" style="height:150px"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="accordion-group">
												<div class="accordion-heading">
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#mail11">
													【催款5】邮件模版
													</a>
												</div>
												<div id="mail11" class="accordion-body collapse">
													<div class="accordion-inner">
														<div class="control-group">
															<label class="control-label" for="press5_mail_title">[<strong>催款5</strong>]邮件标题</label>
															<div class="controls"><input class="span12" id="press5_mail_title" name="press5_mail[title]" type="text" placeholder="[催款5]系统邮件标题"></div>
														</div>
														<div class="control-group">
															<label class="control-label" for="press5_mail_content">[<strong>催款5</strong>]邮件内容</label>
															<div class="controls">
																<textarea class="span12 autosize" id="press5_mail_content" name="press5_mail[content]" placeholder="[催款5]系统邮件内容" style="height:150px"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div> -->
										</div>
										<div class="control-group">
											<label class="control-label"></label>
											<div class="controls error_message"></div>
										</div>
									</div>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn btn-primary"><i></i>Save</button>
									<button type="button" data-dismiss="modal" class="btn btn-icon btn-default"><i></i>Cancel</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div id="mail_info" class="hide">
				<volist name="webcates" id="vo">
				<div class="c<!--{$vo.cid}-->">
					<div class="q">
						<div class="title"><!--{$vo.q_mail.title}--></div>
						<div class="content"><!--{$vo.q_mail.content}--></div>
					</div>
					<div class="c">
						<div class="title"><!--{$vo.c_mail.title}--></div>
						<div class="content"><!--{$vo.c_mail.content}--></div>
					</div>
					<div class="p">
						<div class="title"><!--{$vo.p_mail.title}--></div>
						<div class="content"><!--{$vo.p_mail.content}--></div>
					</div>
					<div class="i">
						<div class="title"><!--{$vo.i_mail.title}--></div>
						<div class="content"><!--{$vo.i_mail.content}--></div>
					</div>
					<div class="t">
						<div class="title"><!--{$vo.t_mail.title}--></div>
						<div class="content"><!--{$vo.t_mail.content}--></div>
					</div>
					<div class="press1">
						<div class="title"><!--{$vo.press1_mail.title}--></div>
						<div class="content"><!--{$vo.press1_mail.content}--></div>
					</div>
				</div>
				</volist>
			</div>
			<script type="text/javascript">
				$(function(){
					$('#accordion').on('shown show', function () {
						$("a").removeClass("accordion_hover_header");
						$(this).find("div.accordion-body.in").siblings('.accordion-heading').find("a").addClass("accordion_hover_header");
					})
					var cate_name = $("#cate_name");
					var cid = $("#cid");
					var error = $(".error_message");
					var add_webcate = $('#add_webcate');
					$("#add_webcate_form").bind('submit', function(){
						if (cate_name.val() == '') {
							error.css("color", 'red').html('Error: 请输入分类名称');
							cate_name.focus();
						} else {
							$("button[type='submit']").addClass('disabled').attr("disabled", true);
							$.post('/ajax/add_webcate', $("#add_webcate_form").serialize(), function(resdata){
								if (resdata.status == 200) {
									error.css("color", 'green').html('Info: 保存成功');
									window.location.reload();
								} else {
									error.css("color", 'red').html(resdata.info);
									$("button[type='submit']").removeClass('disabled').attr("disabled", false);
								}
							},'json')
						}
						return false;
					});

					$("a.add_webcate").click(function(event) {
						add_webcate.find('h4').html('添加分类');
						add_webcate.find('#cid').val('0');
						add_webcate.find('#cate_name').val('');
						add_webcate.modal();
					});

					$("a.modify_webcate").click(function(event) {
						var i;
						var cid = $(this).attr('data-cid');
						var order_status = ['q', 'c', 'p', 'i', 't', 'press1'];
						var catename = $(this).attr('data-catename');
						var mailinfo = $("#mail_info");
						add_webcate.find('h4').html('修改分类');
						add_webcate.find('#cid').val(cid);
						add_webcate.find('#cate_name').val(catename);
						for (key in order_status) {
							i = order_status[key];
							add_webcate.find('#' + i + '_mail_title').val(mailinfo.find('.c' + cid + ' > .' + i + ' > .title').html());
							add_webcate.find('#' + i + '_mail_content').val(mailinfo.find('.c' + cid + ' > .' + i + ' > .content').html());
						}
						add_webcate.modal();
					});
				})
			</script>