			<div class="innerLR">
				<if condition="in_array('add_website', $profile['permissions'])">
				<h6><a href="javascript:;" class="add_website">添加网站</a></h6>
				</if>
				<table class="table table-striped table-bordered table-condensed dataTable">
					<thead>
						<tr role="row">
							<th width="5%">ID</th>
							<th width="20%">网站名</th>
							<th width="10%">网站分类</th>
							<th width="10%">前缀</th>
							<th width="20%">网站域名</th>
							<th width="10%">类型</th>
							<if condition="in_array('get_website_key', $profile['permissions'])">
							<th>通信密匙</th>
							</if>
							<if condition="in_array('add_website', $profile['permissions'])">
							<th wudth="10%">操作</th>
							</if>
						</tr>
					</thead>
					<tbody role="alert" aria-live="polite" aria-relevant="all">
						<volist name="websites" id="vo">
						<tr class="gradeA odd">
							<td><!--{$vo.id}-->.</td>
							<td><!--{$vo.webname}--> <if condition="!empty($vo['smtp_info'])"><span class='label label-important'>SMTP</span></if></td>
							<td><!--{$vo.cid|get_value=###, 'cate_name', 'webcate'}--></td>
							<td><!--{$vo.prefix}--></td>
							<td><!--{$vo.weburl}--></td>
							<td><!--{$vo.system}--></td>
							<if condition="in_array('get_website_key', $profile['permissions'])">
							<td><a href="javascript:;" class="getkey" data-id="<!--{$vo.id}-->">点击获取</a></td>
							</if>
							<if condition="in_array('add_website', $profile['permissions'])">
							<td>
								<a href="javascript:;" class="modify_website" data-sid="<!--{$vo.id}-->" data-webname="<!--{$vo.webname}-->" data-weburl="<!--{$vo.weburl}-->" data-sendmail-domain="<!--{$vo.sendmail_domain}-->" data-prefix="<!--{$vo.prefix}-->" data-system="<!--{$vo.system}-->" data-cid="<!--{$vo.cid}-->" data-service-email="<!--{$vo.service_email}-->" data-blank-account="<!--{$vo.blank_account}-->">编辑网站</a> &nbsp;
								<a href="javascript:;" class="modify_webmail" data-sid="<!--{$vo.id}-->" data-account-name="<!--{$vo.account_name}-->" data-smtp-host="<!--{$vo.smtp_host}-->" data-smtp-account="<!--{$vo.smtp_account}-->" data-smtp-password="<!--{$vo.smtp_password}-->" data-smtp-port="<!--{$vo.smtp_port}-->" data-smtp-auth="<!--{$vo.smtp_auth}-->" data-auth-type="<!--{$vo.auth_type}-->">邮箱设置</a> &nbsp;
								<a href="javascript:;">禁用</a>
							</td>
							</if>
						</tr>
						</volist>
					</tbody>
				</table>
				<div class="separator top form-inline small">
					<div class="pagination pull-right" style="margin: 0;">
						<!--{$page}-->
					</div>
					<div class="clearfix"></div>
				</div>
				<div id="add_website" class="modal hide fade">
					<form class="form-horizontal" id="add_website_form" method="POST">
						<input type="hidden" id="sid" name="sid" value="0" />
						<div class="widget">
							<div class="widget-head"><h4 class="heading">添加网站接入</h4></div>
							<div class="widget-body">
								<div class="row-fluid">
									<div class="span10">
										<div class="control-group">
											<label class="control-label" for="webname">网站名称</label>
											<div class="controls"><input class="span12" id="webname" name="webname" type="text"></div>
										</div>
										<div class="control-group">
											<label class="control-label" for="weburl">网站域名</label>
											<div class="input-prepend" style="margin-left:20px;width:240px">
												<span class="add-on">http://</span>
												<input id="weburl" class="span12" type="text" placeholder="www.example.com">
											</div>
										</div>
                    <div class="control-group">
                      <label class="control-label" for="weburl">邮件发送域名</label>
                      <div class="input-prepend" style="margin-left:20px;width:240px">
                        <span class="add-on">http://</span>
                        <input id="sendmail_domain" class="span12" type="text" placeholder="www.example.com">
                      </div>
                    </div>
										<div class="control-group">
											<label class="control-label" for="prefix">网站编号</label>
											<div class="controls">
												<input id="prefix" class="span12" type="text" placeholder="订单前缀">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="service_email">客服邮箱</label>
											<div class="controls">
												<input id="service_email" class="span12" type="text" placeholder="客服邮箱">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="blank_account">银行帐号</label>
											<div class="controls">
												<textarea class="span12" id="blank_account" placeholder="银行帐号"></textarea>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="system_type">系统类型</label>
											<div class="controls">
												<select class="span12" id="system_type" name="system_type">
													<option value="0">选择系统类型</option>
													<optgroup label="System">
														<option value="cscart">CS-Cart</option>
														<option value="magento">Magento</option>
														<option value="zencart">ZenCart</option>
														<option value="wordpress">Wordpress</option>
														<option value="opencart">OpenCart</option>
                            <option value="landingpage">Landing Page</option>
                            <option value="ccshop">CCShop</option>
													</optgroup>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="cateid">网站分类</label>
											<div class="controls">
												<select class="span12" id="cateid" name="cateid">
													<option value="0">选择网站分类</option>
													<optgroup label="Category">
														<volist name="webcates" id="vo">
														<option value="<!--{$vo.cid}-->"><!--{$vo.cate_name}--></option>
														</volist>
													</optgroup>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label"></label>
											<div class="controls error_message"></div>
										</div>
									</div>
								</div>
								<hr class="separator">
								<div class="form-actions">
									<button type="submit" class="btn btn-primary"><i></i>Save</button>
									<button type="button" data-dismiss="modal" class="btn btn-icon btn-default"><i></i>Cancel</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div id="modify_webmail" class="modal hide fade">
					<form class="form-horizontal" id="modify_webmail_form" method="POST">
						<input type="hidden" id="sid2" value="0" />
						<div class="widget">
							<div class="widget-head"><h4 class="heading">网站邮箱设置</h4></div>
							<div class="widget-body">
								<div class="row-fluid">
									<div class="span10">
										<div class="control-group">
											<label class="control-label" for="account_name">发件人名称：</label>
											<div class="controls"><input class="span12" id="account_name" type="text" placeholder="发件人名称，一般为店铺名"></div>
										</div>
										<div class="control-group">
											<label class="control-label" for="smtp_host">SMTP主机：</label>
											<div class="controls"><input class="span12" id="smtp_host" type="text" placeholder="SMTP主机"></div>
										</div>
										<div class="control-group">
											<label class="control-label" for="smtp_account">SMTP用户名：</label>
											<div class="controls">
												<input id="smtp_account" class="span12" type="text" placeholder="SMTP用户名">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="smtp_password">SMTP密码：</label>
											<div class="controls">
												<input id="smtp_password" class="span12" type="password" placeholder="SMTP密码">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="smtp_port">SMTP端口：</label>
											<div class="controls">
												<input id="smtp_port" class="span6" type="text" placeholder="SMTP端口">
												<span class="">TLS默认25,SSL默认465</span>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="smtp_auth">验证SMTP：</label>
											<div class="controls">
												<input id="smtp_auth" name="smtp_auth" type="checkbox" value="1">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="smtp_auth">验证类型：</label>
											<div class="controls">
												<select id="auth_type" name="auth_type">
													<option value="tls">TLS</option>
													<option value="ssl">SSL</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label"></label>
											<div class="controls error_message2"></div>
										</div>
									</div>
								</div>
								<hr class="separator">
								<div class="form-actions">
									<button type="submit" class="btn btn-primary"><i></i>Save</button>
									<button type="button" data-dismiss="modal" class="btn btn-icon btn-default"><i></i>Cancel</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<script type="text/javascript">
				$(function(){
					var webname = $("#webname");
          var weburl = $("#weburl");
          var sendmail_domain = $("#sendmail_domain");
					var system_type = $("#system_type");
					var prefix = $("#prefix");
					var service_email = $("#service_email");
					var blank_account = $("#blank_account");
					var sid = $("#sid");
					var cateid = $("#cateid");
					var error = $(".error_message");
					var error2 = $(".error_message2");
					var add_website = $('#add_website');
					var modify_webmail = $('#modify_webmail');
					var account_name = $('#account_name');
					var smtp_host = $('#smtp_host');
					var smtp_account = $('#smtp_account');
					var smtp_password = $('#smtp_password');
					var smtp_port = $('#smtp_port');
					var auth_type = $('#auth_type');
					auth_type.change(function(event) {
						if (auth_type.val() == 'ssl') {
							smtp_port.val('465');
						} else {
							smtp_port.val('25');
						};
					});
					$("#add_website_form").bind('submit', function(){
						if (webname.val() == '') {
							error.css("color", 'red').html('Error: 请输入网站名称');
							webname.focus();
						} else if (weburl.val() == '') {
							error.css("color", 'red').html('Error: 请输入网站域名');
							weburl.focus();
						} else if (system_type.val() == '0') {
							error.css("color", 'red').html('Error: 请选择系统类型');
						} else {
							$(this).find("button[type='submit']").addClass('disabled').attr("disabled", true);
							$.post('/ajax/add_website',{id:sid.val(), webname:webname.val(), cid:cateid.val(), weburl:weburl.val(), sendmail_domain: sendmail_domain.val(), prefix:prefix.val(), service_email:service_email.val(), blank_account:blank_account.val(), system:system_type.val()}, function(resdata){
								if (resdata.status == 200) {
									error.css("color", 'green').html('Info: 保存成功');
									window.location.reload();
								} else {
									error.css("color", 'red').html(resdata.info);
									$(this).find("button[type='submit']").removeClass('disabled').attr("disabled", false);
								}
							},'json');
						}
						return false;
					});

					$("#modify_webmail").bind('submit', function(){
						if (account_name.val() == '') {
							error.css("color", 'red').html('Error: 请输入发件人名称');
							account_name.focus();
						} else if (smtp_host.val() == '') {
							error2.css("color", 'red').html('Error: 请输入SMTP主机');
							smtp_host.focus();
						} else if (smtp_account.val() == '') {
							error2.css("color", 'red').html('Error: 请输入SMTP账号');
							smtp_account.focus();
						} else if (smtp_password.val() == '0') {
							error2.css("color", 'red').html('Error: 请选择SMTP密码');
							smtp_password.focus();
						} else {
							var smtp_auth_val = $('#smtp_auth:checked').val();
							var auth_type_val = auth_type.val();
							if (smtp_auth_val == 'undefined') {
								smtp_auth_val = 0;
							};
							$(this).find("button[type='submit']").addClass('disabled').attr("disabled", true);
							$.post('/ajax/save_smtp_info',{id:$("#sid2").val(), account_name:account_name.val(), smtp_host:smtp_host.val(), smtp_account:smtp_account.val(), smtp_password:smtp_password.val(), smtp_port:smtp_port.val(), smtp_auth:smtp_auth_val, auth_type:auth_type_val}, function(resdata){
								if (resdata.status == 200) {
									error.css("color", 'green').html('Info: 保存成功');
									window.location.reload();
								} else {
									error.css("color", 'red').html(resdata.info);
									$(this).find("button[type='submit']").removeClass('disabled').attr("disabled", false);
								}
							},'json');
						}
						return false;
					});

					$("a.getkey").bind('click', function (){
						var td = $(this).parent();
						td.html('loading...');
						$.post('/ajax/get_webkey',{id:$(this).attr('data-id')}, function(resdata){
							if (resdata.status == 200) {
								td.html("<textarea style='width:95%'>" + resdata.key + "</textarea>");
							} else {
								td.css("color", 'red').html(resdata.info);
							}
						}, 'json')
					});

					$("a.add_website").click(function(event) {
						add_website.find('h4').html('添加网站');
						add_website.find('#sid').val('0');
						add_website.find('#webname').val('');
						add_website.find('#weburl').attr('disabled', false).val('');
						add_website.find('#webprefix').val('');
						add_website.find('#system_type option[value="0"]').attr('selected', true);
						add_website.find('#cateid option[value="0"]').attr('selected', true);
						add_website.modal();
					});

					$("a.modify_website").click(function(event) {
						var sidval = $(this).attr('data-sid');
						var webname = $(this).attr('data-webname');
            var weburl = $(this).attr('data-weburl');
            var sendmial_domain = $(this).attr('data-sendmail-domain');
						var webprefix = $(this).attr('data-prefix');
						var service_email = $(this).attr('data-service-email');
						var blank_account = $(this).attr('data-blank-account');
						var system = $(this).attr('data-system');
						var cateid = $(this).attr('data-cid');
						add_website.find('h4').html('修改网站');
						add_website.find('#sid').val(sidval);
						add_website.find('#webname').val(webname);
            add_website.find('#weburl').attr('disabled', true).val(weburl);
            add_website.find('#sendmail_domain').val(sendmial_domain);
						add_website.find('#prefix').val(webprefix);
						add_website.find('#service_email').val(service_email);
						add_website.find('#blank_account').val(blank_account);
						add_website.find('#system_type option[value="'+system+'"]').attr('selected', true);
						add_website.find('#cateid option[value="'+cateid+'"]').attr('selected', true);
						add_website.modal();
					});

					$("a.modify_webmail").click(function(event) {
						var sidval = $(this).attr('data-sid');
						var account_name = $(this).attr('data-account-name');
						var smtp_host = $(this).attr('data-smtp-host');
						var smtp_account = $(this).attr('data-smtp-account');
						var smtp_password = $(this).attr('data-smtp-password');
						var smtp_port = $(this).attr('data-smtp-port');
						var smtp_auth = $(this).attr('data-smtp-auth');
						var auth_type = $(this).attr('data-auth-type');
						modify_webmail.find('#sid2').val(sidval);
						modify_webmail.find('#account_name').val(account_name);
						modify_webmail.find('#smtp_host').val(smtp_host);
						modify_webmail.find('#smtp_account').val(smtp_account);
						if (smtp_password == '1') {
							modify_webmail.find('#smtp_password').attr('placeholder', '密码默认不显示，不修改请留空');
						} else {
							modify_webmail.find('#smtp_password').attr('placeholder', 'SMTP密码');
						}
						modify_webmail.find('#smtp_port').val(smtp_port);
						if (smtp_auth == '' || smtp_auth == '1') {
							modify_webmail.find('#smtp_auth').attr('checked', true);
						} else {
							modify_webmail.find('#smtp_auth').attr('checked', false);
						}
						modify_webmail.find('#auth_type option[value="'+auth_type+'"]').attr('selected', true);
						modify_webmail.modal();
					});
				})
			</script>